openapi: 3.2.0
info:
  title: Apifreaks Api Hub For Developers Weather APIs API
  version: 1.0.0
  contact:
    name: APIFreaks Support
    url: https://apifreaks.com/contact
    email: support@apifreaks.com
  description: 'Operations tagged Weather APIs across 8 of this provider''s published API definitions: apifreaks-api-hub-for-developers-air-quality-openapi.json, apifreaks-api-hub-for-developers-bulk-live-weather-openapi.json, apifreaks-api-hub-for-developers-flood-forecast-openapi.json, apifreaks-api-hub-for-developers-historical-weather-openapi.json, apifreaks-api-hub-for-developers-live-weather-openapi.json, apifreaks-api-hub-for-developers-marine-weather-openapi.json, apifreaks-api-hub-for-developers-time-series-weather-openapi.json, apifreaks-api-hub-for-developers-weather-forecast-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.apifreaks.com/v1.0/weather
  description: Air Quality API Server
security:
- ApiKeyAuthHeader: []
- ApiKeyAuthQuery: []
tags:
- name: Weather APIs
paths:
  /air-quality:
    servers:
    - url: https://api.apifreaks.com/v1.0/weather
      description: Air Quality API Server
    get:
      tags:
      - Weather APIs
      summary: Air pollution monitoring and quality forecasts
      description: Monitor and predict air quality conditions using European and US AQI standards. Track pollutant concentrations including PM10, PM2.5, carbon monoxide, nitrogen dioxide, sulfur dioxide, ozone, and dust particles. Get current readings plus hourly forecasts up to 5 days ahead, complete with UV index and aerosol measurements for comprehensive air quality assessment.
      operationId: getAirQuality
      parameters:
      - name: format
        in: query
        required: false
        description: 'Format of the response. Possible values: json.'
        schema:
          type: string
          enum:
          - json
          default: json
      - name: startDate
        in: query
        schema:
          type: string
          format: date
        description: Starting date for AQI forecast data in YYYY-MM-DD format. Must be supplied together with endDate — passing only one of the two returns a 400 error. Both dates must fall within a rolling window from today through 5 days ahead.
        required: false
      - name: endDate
        in: query
        schema:
          type: string
          format: date
        description: End date for AQI forecast data in YYYY-MM-DD format. Must be supplied together with startDate — passing only one of the two returns a 400 error, and endDate cannot be earlier than startDate. Both dates must fall within a rolling window from today through 5 days ahead.
        required: false
      - name: location
        in: query
        schema:
          type: string
        description: City name, place name, or full address.
        required: false
      - name: lat
        in: query
        schema:
          type: number
        description: Latitude of the location. Must be supplied together with long — passing only one of the two returns a 400 error.
        required: false
      - name: long
        in: query
        schema:
          type: number
        description: Longitude of the location. Must be supplied together with lat — passing only one of the two returns a 400 error.
        required: false
      - name: ip
        in: query
        schema:
          type: string
        description: IP(v4 or v6) address for location inference.
        required: false
      - name: timezone
        in: query
        schema:
          type: string
        description: Timezone for the results.
        required: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirQualityResponse'
              examples:
                typicalSuccess:
                  summary: Current AQI by IP (auto-detected)
                  value:
                    location:
                      continent_code: AS
                      continent_name: Asia
                      country_code2: PK
                      country_code3: PAK
                      country_name: Pakistan
                      country_name_official: Islamic Republic of Pakistan
                      is_eu: false
                      state_prov: Punjab
                      state_code: PK-PB
                      district: Lahore
                      city: Lahore
                      zipcode: '54000'
                      latitude: '31.52037'
                      longitude: '74.35875'
                      locality: Gulberg
                      elevation: ''
                      timezone: Asia/Karachi
                      timezone_abbreviation: GMT+5
                    current:
                      timestamp: 2026-07-24T16:00
                      european_aqi: 67
                      us_aqi: 99
                      pm10: 27.4
                      pm2_5: 27.2
                      carbon_monoxide: 493
                      nitrogen_dioxide: 6.2
                      sulphur_dioxide: 8.6
                      ozone: 169
                      dust: 0
                      uv_index: 1.95
                      aerosol_optical_depth: 0.71
                      uv_index_clear_sky: 2.25
                forecastSuccess:
                  summary: Forecast AQI by location and date range
                  value:
                    location:
                      location_string: Paris,France
                      country_name: France
                      state_prov: Ile-de-France
                      city: Paris
                      locality: ''
                      latitude: '48.85889'
                      longitude: '2.32004'
                      elevation: '0'
                      timezone: Europe/Paris
                      timezone_abbreviation: GMT+2
                    forecast:
                      '2026-07-25':
                        hourly:
                        - timestamp: 2026-07-25T00:00
                          pm10: 14.8
                          carbon_monoxide: 200
                          pm2_5: 8.5
                          carbon_dioxide: 446
                          nitrogen_dioxide: 17.1
                          sulphur_dioxide: 1
                          ozone: 63
                          dust: 0
                          uv_index: 0
                          aerosol_optical_depth: 0.2
                          uv_index_clear_sky: 0
                        - timestamp: 2026-07-25T01:00
                          pm10: 16.1
                          carbon_monoxide: 202
                          pm2_5: 8.4
                          carbon_dioxide: 449
                          nitrogen_dioxide: 15.9
                          sulphur_dioxide: 0.9
                          ozone: 60
                          dust: 0
                          uv_index: 0
                          aerosol_optical_depth: 0.2
                          uv_index_clear_sky: 0
        '400':
          description: Bad Request — Invalid or incomplete parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidCoordinates:
                  summary: Coordinates out of range
                  value:
                    timestamp: '2026-07-24T11:34:36.550Z'
                    status: 400
                    message: Invalid latitude or longitude values. Latitude must be between -90 and 90, and longitude must be between -180 and 180
                    error: invalid-params
                    path: /v1.0/weather/air-quality
                InvalidIP:
                  summary: Malformed IP address
                  value:
                    timestamp: '2026-07-24T11:34:37.632Z'
                    status: 400
                    message: Invalid IP address
                    error: invalid-params
                    path: /v1.0/weather/air-quality
                InvalidTimezone:
                  summary: Invalid timezone
                  value:
                    timestamp: '2026-07-24T11:34:38.657Z'
                    status: 400
                    message: Check whether your input value is correct; timezone = NotATimezone
                    error: error
                    path: /v1.0/weather/air-quality
                MissingPairedParam:
                  summary: Only one of a required pair supplied
                  value:
                    error: Invalid Param Exception
                    message: please pass correct parameters
                    path: /v1.0/weather/air-quality
                    status: 400
                    timestamp: '2026-07-24T11:34:56.768Z'
                InvalidDateFormat:
                  summary: Date not in YYYY-MM-DD format
                  value:
                    timestamp: '2026-07-24T11:35:41.151Z'
                    status: 400
                    message: startDate must be in yyyy-mm-dd format
                    error: invalid-params
                    path: /v1.0/weather/air-quality
                InvalidDateOrder:
                  summary: endDate before startDate
                  value:
                    timestamp: '2026-07-24T11:36:03.105Z'
                    status: 400
                    message: startDate must be before or equal to endDate
                    error: params-exception-error
                    path: /v1.0/weather/air-quality
                DateRangeOutOfBounds:
                  summary: Date range outside allowed window
                  value:
                    timestamp: '2026-07-24T11:34:45.616Z'
                    status: 400
                    message: Forecast date range must be within 2026-07-24 to 2026-07-29
                    error: params-exception-error
                    path: /v1.0/weather/air-quality
        '404':
          description: Not Found — Location could not be resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                LocationNotFound:
                  summary: Location not found
                  value:
                    timestamp: '2026-07-24T11:34:37.139Z'
                    status: 404
                    message: Location not found
                    error: error
                    path: /v1.0/weather/air-quality
  /current:
    servers:
    - url: https://api.apifreaks.com/v1.0/weather
      description: Bulk Live Weather API Server
    post:
      tags:
      - Weather APIs
      summary: Get real-time weather data for multiple locations, coordinates, or IP addresses
      description: Retrieve current weather conditions for up to `50 locations` in a single request. A maximum of 50 locations (city names, IP addresses, or geographic coordinates) can be included in the request body.
      parameters:
      - name: format
        in: query
        required: false
        description: 'Format of the response. Possible values: json.'
        schema:
          type: string
          enum:
          - json
          default: json
      - name: timezone
        in: query
        required: false
        description: Override timezone for all returned data. Defaults to each location's local timezone.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkCurrentRequest'
            examples:
              typicalRequest:
                summary: Typical bulk lookup request
                value:
                  locations:
                  - location: lahore
                  - lat: 32.5
                    long: 74.5
                  - ip: 8.8.8.8
                  - location: seoul
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCurrentResponse'
              examples:
                typicalSuccess:
                  summary: Typical successful response
                  value:
                    bulk:
                    - location:
                        location_string: lahore
                        country_name: Pakistan
                        state_prov: Punjab
                        city: Lahore
                        locality: ''
                        latitude: '31.56568'
                        longitude: '74.31418'
                        elevation: ''
                        timezone: Asia/Karachi
                        timezone_abbreviation: GMT+5
                      current:
                        timestamp: 2026-07-24T16:00
                        temperature_2m: 32.7
                        relative_humidity_2m: 63
                        apparent_temperature: 38.3
                        snowfall: 0
                        rain: 0
                        showers: 0
                        precipitation: 0
                        weather_code: 2
                        cloud_cover: 53
                        pressure_msl: 996.7
                        surface_pressure: 973.2
                        wind_speed_10m: 5.4
                        wind_direction_10m: 92
                        wind_gusts_10m: 16.9
                        air_quality:
                          timestamp: 2026-07-24T16:00
                          european_aqi: 67
                          us_aqi: 99
                          pm10: 27.4
                          pm2_5: 27.2
                          carbon_monoxide: 345
                          nitrogen_dioxide: 6.2
                          sulphur_dioxide: 8.6
                          ozone: 169
                          dust: 0
                          uv_index: 1.95
                          aerosol_optical_depth: 0.71
                          uv_index_clear_sky: 2.25
                        astronomy:
                          date: '2026-07-24'
                          mid_night: 00:09
                          night_end: 03:39
                          sunrise: 05:12
                          sunset: '19:06'
                          night_begin: '20:38'
                          sun_status: '-'
                          solar_noon: '12:09'
                          day_length: '13:54'
                          moon_phase: WAXING_GIBBOUS
                          moonrise: '15:08'
                          moonset: 00:26
                          moon_status: '-'
                partialFailure:
                  summary: Batch with an unresolvable location — that slot gets an error object, request still succeeds
                  value:
                    bulk:
                    - error: Missing required location parameters
                    - error: Location not found
        '400':
          description: Bad Request — Missing/malformed request body, or a non-object item in the locations array
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidBody:
                  summary: Invalid or missing request body
                  value:
                    error: Invalid request body Exception
                    message: Please provide data in required format in request body
                    path: /v1.0/weather/current
                    status: 400
                    timestamp: '2026-07-24T11:12:06.906Z'
                InvalidItem:
                  summary: locations[0] is not an object
                  value:
                    timestamp: '2026-07-24T11:12:07.410Z'
                    status: 400
                    message: '"locations[0]" must be of type object'
                    error: error
                    path: /v1.0/weather/current/bulk
      operationId: bulkLiveWeather
    get:
      tags:
      - Weather APIs
      summary: Real-time weather conditions for any location on demand
      description: Get current weather data including temperature, humidity, precipitation, wind conditions, atmospheric pressure, and air quality for any location. Accepts city names, coordinates, or IP addresses. Also includes astronomy data and timezone-aware timestamps.
      operationId: getLiveWeather
      parameters:
      - name: location
        in: query
        schema:
          type: string
        description: City name, place name, or full address.
        required: false
      - name: lat
        in: query
        schema:
          type: number
        description: Latitude of the location.
        required: false
      - name: long
        in: query
        schema:
          type: number
        description: Longitude of the location.
        required: false
      - name: ip
        in: query
        schema:
          type: string
        description: IP(v4 or v6) address for location inference.
        required: false
      - name: timezone
        in: query
        schema:
          type: string
        description: Timezone for the results.
        required: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentWeatherResponse_2'
              examples:
                typicalSuccess:
                  summary: Typical successful response
                  value:
                    location:
                      continent_code: AS
                      continent_name: Asia
                      country_code2: PK
                      country_code3: PAK
                      country_name: Pakistan
                      country_name_official: Islamic Republic of Pakistan
                      is_eu: false
                      state_prov: Punjab
                      state_code: PK-PB
                      district: Lahore
                      city: Lahore
                      zipcode: '54000'
                      latitude: '31.52037'
                      longitude: '74.35875'
                      locality: Gulberg
                      elevation: ''
                      timezone: Asia/Karachi
                      timezone_abbreviation: GMT+5
                    current:
                      timestamp: 2025-09-29T17:45
                      temperature_2m: 32.5
                      relative_humidity_2m: 61
                      apparent_temperature: 37.9
                      snowfall: 0
                      rain: 0
                      showers: 0
                      precipitation: 0
                      weather_code: 2
                      cloud_cover: 49
                      pressure_msl: 1001.9
                      surface_pressure: 977.6
                      wind_speed_10m: 4
                      wind_direction_10m: 280
                      wind_gusts_10m: 8.6
                      air_quality:
                        timestamp: 2025-09-29T17:45
                        european_aqi: 84
                        us_aqi: 148
                        pm10: 66.2
                        pm2_5: 52.7
                        carbon_monoxide: 977
                        nitrogen_dioxide: 44.5
                        sulphur_dioxide: 20.4
                        ozone: 159
                        dust: 27
                        uv_index: 0
                        aerosol_optical_depth: 0.48
                        uv_index_clear_sky: 0
                      astronomy:
                        date: '2025-09-29'
                        mid_night: '23:52'
                        night_end: 04:34
                        sunrise: 05:53
                        sunset: '17:51'
                        night_begin: '19:10'
                        sun_status: '-'
                        solar_noon: '11:52'
                        day_length: '11:58'
                        moon_phase: FIRST_QUARTER
                        moonrise: '12:41'
                        moonset: '22:28'
                        moon_status: '-'
        '400':
          description: Bad Request — Missing/incomplete lat+long pair, coordinates out of range, invalid timezone, or invalid IP address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidCoordinates:
                  summary: Latitude or longitude out of range (e.g. lat=91)
                  value:
                    timestamp: '2026-07-24T11:09:43.616Z'
                    status: 400
                    message: Invalid latitude or longitude values. Latitude must be between -90 and 90, and longitude must be between -180 and 180
                    error: invalid-params
                    path: /v1.0/weather/current
                ExtremeCoordinateValue:
                  summary: Extreme out-of-range value (e.g. lat=999) hits a different, misleading message than a moderate out-of-range value like lat=91
                  value:
                    timestamp: '2026-07-24T11:09:30.501Z'
                    status: 400
                    message: Please provide both lat and long parameters.
                    error: invalid-params
                    path: /v1.0/weather/current
                InvalidTimezone:
                  summary: Invalid timezone
                  value:
                    timestamp: '2026-07-24T11:09:31.045Z'
                    status: 400
                    message: Check whether your input value is correct; timezone = NotATimezone
                    error: error
                    path: /v1.0/weather/current
                InvalidIPAddress:
                  summary: Invalid IP address
                  value:
                    timestamp: '2026-07-24T11:09:31.579Z'
                    status: 400
                    message: Invalid IP address
                    error: invalid-params
                    path: /v1.0/weather/current
        '404':
          description: Not Found — Location address could not be resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                LocationNotFound:
                  summary: Location not found
                  value:
                    timestamp: '2026-07-24T11:09:32.129Z'
                    status: 404
                    message: Location not found
                    error: error
                    path: /v1.0/weather/current
  /flood:
    servers:
    - url: https://api.apifreaks.com/v1.0/weather
      description: Flood Forecast API Server
    get:
      tags:
      - Weather APIs
      summary: Get flood risk and river discharge forecast
      description: Provides flood forecast data for a given location, including river discharge metrics such as mean, median, maximum, minimum, and percentile values (p25, p75). Requires a startDate and endDate, with the date range limited to 16 days. Location can be specified using city name, latitude/longitude, or IP address; if omitted entirely, the caller's IP is used.
      operationId: getFloodForecast
      parameters:
      - name: format
        in: query
        required: false
        description: 'Format of the response. Possible values: json.'
        schema:
          type: string
          enum:
          - json
          default: json
      - name: startDate
        in: query
        required: true
        schema:
          type: string
          format: date
        description: Starting date for flood forecast data in YYYY-MM-DD format. Forecast dates must be current or future dates only. Past dates are not allowed for forecast data. The difference between endDate and startDate must not exceed 16 days.
      - name: endDate
        in: query
        required: true
        schema:
          type: string
          format: date
        description: End date for flood forecast data in YYYY-MM-DD format. Forecast dates must be current or future dates only. Past dates are not allowed for forecast data. The difference between endDate and startDate must not exceed 16 days.
      - name: location
        in: query
        schema:
          type: string
        description: City name, place name, or full address.
        required: false
      - name: lat
        in: query
        schema:
          type: number
        description: Latitude of the location.
        required: false
      - name: long
        in: query
        schema:
          type: number
        description: Longitude of the location.
        required: false
      - name: ip
        in: query
        schema:
          type: string
        description: IP(v4 or v6) address for location inference.
        required: false
      - name: precision
        in: query
        required: false
        description: Forecast data granularity. Only 'daily' is supported; any other value returns a 400 error.
        schema:
          type: string
          enum:
          - daily
          default: daily
      - name: timezone
        in: query
        schema:
          type: string
        description: Timezone for the results.
        required: false
      responses:
        '200':
          description: Successful flood forecast response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloodResponse'
              examples:
                typicalSuccess:
                  summary: Typical successful response
                  value:
                    location:
                      location_string: London
                      country_name: United Kingdom
                      state_prov: England
                      city: London
                      locality: ''
                      latitude: '51.50745'
                      longitude: '-0.12777'
                      elevation: '12'
                      timezone: Europe/London
                      timezone_abbreviation: GMT+1
                    forecast:
                      '2026-07-25':
                        daily:
                          timestamp: '2026-07-25'
                          river_discharge: 5.47
                          river_discharge_mean: 5.47
                          river_discharge_median: 5.47
                          river_discharge_max: 5.68
                          river_discharge_min: 5.44
                          river_discharge_p25: 5.46
                          river_discharge_p75: 5.47
                      '2026-07-26':
                        daily:
                          timestamp: '2026-07-26'
                          river_discharge: 5.46
                          river_discharge_mean: 5.47
                          river_discharge_median: 5.46
                          river_discharge_max: 6.06
                          river_discharge_min: 5.4
                          river_discharge_p25: 5.46
                          river_discharge_p75: 5.47
                      '2026-07-27':
                        daily:
                          timestamp: '2026-07-27'
                          river_discharge: 5.4
                          river_discharge_mean: 5.4
                          river_discharge_median: 5.4
                          river_discharge_max: 6.11
                          river_discharge_min: 5.3
                          river_discharge_p25: 5.35
                          river_discharge_p75: 5.42
                      '2026-07-28':
                        daily:
                          timestamp: '2026-07-28'
                          river_discharge: 5.37
                          river_discharge_mean: 5.98
                          river_discharge_median: 5.36
                          river_discharge_max: 22.99
                          river_discharge_min: 5.27
                          river_discharge_p25: 5.31
                          river_discharge_p75: 5.54
                noRiverDataNearby:
                  summary: Location with no nearby monitored river
                  value:
                    location:
                      latitude: '23.40000'
                      longitude: '11.50000'
                      country_name: Algeria
                      state_prov: Djanet
                      city: Djanet
                      locality: ''
                      elevation: ''
                      timezone: Africa/Algiers
                      timezone_abbreviation: GMT+1
                    forecast:
                      '2026-07-25':
                        daily:
                          timestamp: '2026-07-25'
                          river_discharge: 0
                          river_discharge_mean: 0
                          river_discharge_median: 0
                          river_discharge_max: 0
                          river_discharge_min: 0
                          river_discharge_p25: 0
                          river_discharge_p75: 0
        '400':
          description: Bad Request — Missing, malformed, or out-of-range parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                MissingParams:
                  summary: Missing or incomplete location parameters
                  value:
                    error: Invalid Param Exception
                    message: please pass correct parameters
                    path: /v1.0/weather/flood
                    status: 400
                    timestamp: '2026-07-24T11:35:53.121Z'
                InvalidCoordinates:
                  summary: Latitude or longitude out of range
                  value:
                    timestamp: '2026-07-24T11:34:58.755Z'
                    status: 400
                    message: Invalid latitude or longitude values. Latitude must be between -90 and 90, and longitude must be between -180 and 180
                    error: invalid-params
                    path: /v1.0/weather/flood
                UnresolvedCoordinates:
                  summary: In-range coordinates over open ocean/uninhabited area
                  value:
                    timestamp: '2026-07-24T11:35:26.119Z'
                    status: 400
                    message: Please provide both lat and long parameters.
                    error: invalid-params
                    path: /v1.0/weather/flood
                InvalidIp:
                  summary: Malformed IP address
                  value:
                    timestamp: '2026-07-24T11:35:53.649Z'
                    status: 400
                    message: Invalid IP address
                    error: invalid-params
                    path: /v1.0/weather/flood
                InvalidPrecision:
                  summary: Unsupported precision value
                  value:
                    timestamp: '2026-07-24T11:35:40.099Z'
                    status: 400
                    message: '''hourly'' precision is not supported on this endpoint'
                    error: invalid-params
                    path: /v1.0/weather/flood
                BadDateFormat:
                  summary: Bad date format
                  value:
                    timestamp: '2026-07-24T11:35:10.570Z'
                    status: 400
                    message: startDate must be in yyyy-mm-dd format
                    error: invalid-params
                    path: /v1.0/weather/flood
                EndBeforeStart:
                  summary: End date before start date
                  value:
                    timestamp: '2026-07-24T11:35:11.115Z'
                    status: 400
                    message: startDate must be before or equal to endDate
                    error: params-exception-error
                    path: /v1.0/weather/flood
                DateRangeExceeded:
                  summary: Date range exceeds 16 days, or a past date was requested
                  value:
                    timestamp: '2026-07-24T11:35:11.610Z'
                    status: 400
                    message: Forecast date range must be within 2026-07-24 to 2026-08-08
                    error: params-exception-error
                    path: /v1.0/weather/flood
        '404':
          description: Not Found — Location could not be resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                LocationNotFound:
                  summary: Location not found
                  value:
                    timestamp: '2026-07-24T11:35:12.674Z'
                    status: 404
                    message: Location not found
                    error: error
                    path: /v1.0/weather/flood
  /historical:
    servers:
    - url: https://api.apifreaks.com/v1.0/weather
      description: Historical Weather API Server
    get:
      tags:
      - Weather APIs
      summary: Retrieve historical weather conditions for a specific past date and location, coordinates, or IP address
      description: Return daily aggregate or hourly weather readings plus astronomy data for a single past date going back to 1940, resolved by city/address, GPS coordinates, or IP address.
      operationId: getHistoricalData
      parameters:
      - name: format
        in: query
        required: false
        description: 'Format of the response. Possible values: json.'
        schema:
          type: string
          enum:
          - json
          default: json
      - name: date
        in: query
        required: true
        description: Specific date for which to fetch weather data in YYYY-MM-DD format. Historical dates must be past dates only. Current or future dates are not allowed for historical data. Data available from 1940 onwards.
        schema:
          type: string
          format: date
      - name: location
        in: query
        required: false
        description: City name, place name, or full address to look up historical weather for. Ignored when lat/long is provided.
        schema:
          type: string
      - name: lat
        in: query
        required: false
        description: Latitude of the location. Takes precedence over location and ip when more than one location parameter is supplied.
        schema:
          type: number
      - name: long
        in: query
        required: false
        description: Longitude of the location. Must be provided together with lat.
        schema:
          type: number
      - name: ip
        in: query
        required: false
        description: IPv4 or IPv6 address for location inference. Ignored when location or lat/long is provided; if none of location, lat/long, or ip is supplied, the requesting client's IP address is used instead.
        schema:
          type: string
      - name: precision
        in: query
        required: false
        description: 'Precision of the returned historical data. Possible values: daily (aggregated daily figures), hourly (24 hourly readings for the date). Default: daily.'
        schema:
          type: string
          enum:
          - daily
          - hourly
          default: daily
      - name: timezone
        in: query
        required: false
        description: IANA timezone to render the astronomy time fields in, instead of the resolved location's own timezone. When set, sunrise/sunset/moonrise-type fields include the date (YYYY-MM-DD HH:MM) instead of only HH:MM.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalResponse'
              examples:
                dailyPrecision:
                  summary: precision=daily response (default)
                  value:
                    location:
                      location_string: Lahore
                      country_name: Pakistan
                      state_prov: Punjab
                      city: Lahore
                      locality: ''
                      latitude: '31.56568'
                      longitude: '74.31418'
                      elevation: ''
                      timezone: Asia/Karachi
                      timezone_abbreviation: GMT+5
                    historical:
                      daily:
                        timestamp: '1940-10-10'
                        weather_code: 0
                        temperature_2m_mean: 28.1
                        temperature_2m_max: 37.9
                        temperature_2m_min: 20.3
                        apparent_temperature_mean: 25
                        apparent_temperature_max: 36.5
                        apparent_temperature_min: 16.8
                        precipitation_sum: 0
                        rain_sum: 0
                        snowfall_sum: 0
                        wind_speed_10m_max: 12.8
                        wind_gusts_10m_max: 25.6
                        wind_speed_10m_mean: 8.7
                        wind_speed_10m_min: 3.9
                        wind_gusts_10m_min: 9
                        wind_gusts_10m_mean: 16.4
                        wind_direction_10m_dominant: 80
                        shortwave_radiation_sum: 20.09
                        et0_fao_evapotranspiration_sum: 6.29
                        cloud_cover_mean: 0
                        dew_point_2m_mean: 0.1
                        dew_point_2m_max: 5.5
                        dew_point_2m_min: -3
                        relative_humidity_2m_mean: 18
                        relative_humidity_2m_max: 26
                        relative_humidity_2m_min: 8
                        pressure_msl_mean: 1010.2
                        surface_pressure_mean: 986.1
                      astronomy:
                        date: '1940-10-10'
                        mid_night: 00:20
                        night_end: 05:11
                        sunrise: 06:30
                        sunset: '18:08'
                        night_begin: '19:27'
                        sun_status: '-'
                        solar_noon: '12:19'
                        day_length: '11:38'
                        moon_phase: WAXING_GIBBOUS
                        moonrise: '14:40'
                        moonset: 01:07
                        moon_status: '-'
                hourlyPrecision:
                  summary: precision=hourly response
                  value:
                    location:
                      location_string: Lahore
                      country_name: Pakistan
                      state_prov: Punjab
                      city: Lahore
                      locality: ''
                      latitude: '31.56568'
                      longitude: '74.31418'
                      elevation: ''
                      timezone: Asia/Karachi
                      timezone_abbreviation: GMT+5
                    historical:
                      hourly:
                      - timestamp: 2020-05-15T00:00
                        temperature_2m: 22.7
                        relative_humidity_2m: 79
                        dew_point_2m: 18.9
                        apparent_temperature: 25
                        precipitation: 0
                        rain: 0
                        snowfall: 0
                        weather_code: 1
                        pressure_msl: 1007.9
                        surface_pressure: 983.4
                        cloud_cover: 30
                        et0_fao_evapotranspiration: 0.01
                        wind_speed_10m: 6.2
                        wind_direction_10m: 280
                        wind_gusts_10m: 9.4
                        albedo: null
                        shortwave_radiation: 0
                        direct_radiation: 0
                        diffuse_radiation: 0
                        direct_normal_irradiance: 0
                        global_tilted_irradiance: 0
                      astronomy:
                        date: '2020-05-15'
                        mid_night: '23:59'
                        night_end: 03:33
                        sunrise: 05:04
                        sunset: '18:54'
                        night_begin: '20:25'
                        sun_status: '-'
                        solar_noon: '11:59'
                        day_length: '13:49'
                        moon_phase: LAST_QUARTER
                        moonrise: 01:15
                        moonset: '12:19'
                        moon_status: '-'
        '400':
          description: Bad Request --- Missing/invalid date, missing/incomplete lat+long pair, coordinates out of range, invalid IP address, invalid precision, or invalid timezone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                MissingRequiredParams:
                  summary: Missing date, or lat given without long
                  value:
                    error: Invalid Param Exception
                    message: please pass correct parameters
                    path: /v1.0/weather/historical
                    status: 400
                    timestamp: '2026-07-24T11:34:39.124Z'
                InvalidDateFormat:
                  summary: Date not in YYYY-MM-DD format
                  value:
                    timestamp: '2026-07-24T11:35:11.805Z'
                    status: 400
                    message: date must be in yyyy-mm-dd format
                    error: invalid-params
                    path: /v1.0/weather/historical
                FutureOrCurrentDate:
                  summary: Date is today or in the future
                  value:
                    timestamp: '2026-07-24T11:34:39.625Z'
                    status: 400
                    message: date cannot be current or future date
                    error: params-exception-error
                    path: /v1.0/weather/historical
                DateBeforeMinimum:
                  summary: Date earlier than 1940-01-01
                  value:
                    timestamp: '2026-07-24T11:34:41.411Z'
                    status: 400
                    message: Parameter 'startDate' is out of allowed range from 1940-01-01 to 2026-07-24
                    error: error
                    path: /v1.0/weather/historical
                InvalidCoordinates:
                  summary: Latitude or longitude out of range
                  value:
                    timestamp: '2026-07-24T11:34:54.240Z'
                    status: 400
                    message: Invalid latitude or longitude values. Latitude must be between -90 and 90, and longitude must be between -180 and 180
                    error: invalid-params
                    path: /v1.0/weather/historical
                InvalidIPAddress:
                  summary: Malformed IP address
                  value:
                    timestamp: '2026-07-24T11:34:55.197Z'
                    status: 400
                    message: Invalid IP address
                    error: invalid-params
                    path: /v1.0/weather/historical
                InvalidPrecision:
                  summary: precision value outside daily/hourly
                  value:
                    timestamp: '2026-07-24T11:34:55.671Z'
                    status: 400
                    message: Invalid precision
                    error: invalid-params
                    path: /v1.0/weather/historical
                InvalidTimezone:
                  summary: Unrecognized timezone identifier
                  value:
                    timestamp: '2026-07-24T11:35:12.335Z'
                    status: 400
                    message: Check whether your input value is correct; timezone = NotATimezone
                    error: error
                    path: /v1.0/weather/historical
        '404':
          description: Not Found --- Location could not be resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                LocationNotFound:
                  summary: Location not found
                  value:
                    timestamp: '2026-07-24T11:34:53.747Z'
                    status: 404
                    message: Location not found
                    error: error
                    path: /v1.0/weather/historical
  /marine:
    servers:
    - url: https://api.apifreaks.com/v1.0/weather
      description: Marine Weather API Server
    get:
      tags:
      - Weather APIs
      summary: Dive into detailed marine weather forecasts for coastal and offshore locations
      description: Provides current or forecast marine conditions including wave height, wave direction, wave period, swell info, sea surface temperature, sea level height, and ocean currents. Accepts a location by GPS coordinates, city name/address, or IP address, and returns forecast data at daily, hourly, or minutely precision for up to 16 days ahead.
      operationId: getMarineWeather
      parameters:
      - name: format
        in: query
        required: false
        description: 'Format of the response. Possible values: json.'
        schema:
          type: string
          enum:
          - json
          default: json
      - name: startDate
        in: query
        required: false
        description: Starting date for marine forecast data in YYYY-MM-DD format. Must be today or a future date, and must be supplied together with endDate — providing only one of the two returns a 400 error. The difference between endDate and startDate must not exceed 16 days.
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        required: false
        description: End date for marine forecast data in YYYY-MM-DD format. Must be today or a future date, and must be supplied together with startDate — providing only one of the two returns a 400 error. The difference between endDate and startDate must not exceed 16 days.
        schema:
          type: string
          format: date
      - name: location
        in: query
        required: false
        description: City name, place name, or full address.
        schema:
          type: string
      - name: lat
        in: query
        required: false
        description: Latitude of the location.
        schema:
          type: number
      - name: long
        in: query
        required: false
        description: Longitude of the location.
        schema:
          type: number
      - name: ip
        in: query
        required: false
        description: IPv4, IPv6, or hostname for location inference. Defaults to the caller's IP address when location, lat/long, and ip are all omitted.
        schema:
          type: string
      - name: precision
        in: query
        required: false
        description: Precision of the marine forecast data. Only one of daily, hourly, or minutely is returned per request, matching this value. Default is daily.
        schema:
          type: string
          enum:
          - daily
          - hourly
          - minutely
          default: daily
      - name: timezone
        in: query
        required: false
        description: IANA timezone identifier used to localize the results (e.g. America/New_York). Returns a 400 error if not a recognized timezone.
        schema:
          type: string
      responses:
        '200':
          description: Successful response — current marine conditions or a date-keyed forecast
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarineResponse'
              examples:
                currentConditions:
                  summary: Current conditions (no date range)
                  value:
                    location:
                      latitude: '51.50000'
                      longitude: '2.00000'
                      country_name: United Kingdom
                      state_prov: ''
                      city: ''
                      locality: ''
                      elevation: ''
                      timezone: Etc/GMT
                      timezone_abbreviation: GMT
                    current:
                      timestamp: 2026-07-24T11:30
                      wave_height: 0.52
                      wave_direction: 12
                      wave_period: 5.75
                      wind_wave_peak_period: 0.95
                      wind_wave_height: 0
                      wind_wave_direction: 220
                      wind_wave_period: 0
                      swell_wave_height: 0.52
                      swell_wave_direction: 13
                      swell_wave_period: 5.05
                      swell_wave_peak_period: 6.3
                      sea_level_height_msl: -1.04
                      sea_surface_temperature: 20.5
                      ocean_current_velocity: 0.4
                      ocean_current_direction: 117
                inlandLocationNullData:
                  summary: Inland location — all marine fields null
                  value:
                    location:
                      location_string: Denver, Colorado
                      country_name: United States
                      state_prov: Colorado
                      city: Denver
                      locality: ''
                      latitude: '39.73924'
                      longitude: '-104.98486'
                      elevation: '1609'
                      timezone: America/Denver
                      timezone_abbreviation: GMT-6
                    current:
                      timestamp: 2026-07-24T05:30
                      wave_height: null
                      wave_direction: null
                      wave_period: null
                      wind_wave_peak_period: null
                      wind_wave_height: null
                      wind_wave_direction: null
                      wind_wave_period: null
                      swell_wave_height: null
                      swell_wave_direction: null
                      swell_wave_period: null
                      sea_level_height_msl: null
                      sea_surface_temperature: null
                      ocean_current_velocity: null
                      ocean_current_direction: null
                dailyForecast:
                  summary: Daily forecast (startDate/endDate set)
                  value:
                    location:
                      latitude: '51.50000'
                      longitude: '2.00000'
                      country_name: United Kingdom
                      state_prov: ''
                      city: ''
                      locality: ''
                      elevation: ''
                      timezone: Etc/GMT
                      timezone_abbreviation: GMT
                    forecast:
                      '2026-07-25':
                        daily:
                          timestamp: '2026-07-25'
                          wave_height_max: 0.84
                          wave_direction_dominant: 278
                          wave_period_max: 4.05
                          wind_wave_height_max: 0.78
                          wind_wave_direction_dominant: 231
                          wind_wave_period_max: 3.3
                          wind_wave_peak_period_max: 4.3
                          swell_wave_height_max: 0.56
                          swell_wave_direction_dominant: 4
                          swell_wave_period_max: 4.85
                          swell_wave_peak_period_max: 6.3
                      '2026-07-26':
                        daily:
                          timestamp: '2026-07-26'
                          wave_height_max: 1.02
                          wave_direction_dominant: 238
                          wave_period_max: 4.65
                          wind_wave_height_max: 0.8
                          wind_wave_direction_dominant: 269
                          wind_wave_period_max: 3.3
                          wind_wave_peak_period_max: 5.2
                          swell_wave_height_max: 0.86
                          swell_wave_direction_dominant: 218
                          swell_wave_period_max: 4.7
                          swell_wave_peak_period_max: 6.3
        '400':
          description: Bad Request — invalid or incomplete parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalidCoordinates:
                  summary: Invalid latitude/longitude
                  value:
                    timestamp: '2026-07-24T11:35:05.439Z'
                    status: 400
                    message: Invalid latitude or longitude values. Latitude must be between -90 and 90, and longitude must be between -180 and 180
                    error: invalid-params
                    path: /v1.0/weather/marine
                invalidIp:
                  summary: Invalid IP address
                  value:
                    timestamp: '2026-07-24T11:35:18.421Z'
                    status: 400
                    message: Invalid IP address
                    error: invalid-params
                    path: /v1.0/weather/marine
                invalidPrecision:
                  summary: Invalid precision value
                  value:
                    timestamp: '2026-07-24T11:35:19.621Z'
                    status: 400
                    message: Invalid precision
                    error: invalid-params
                    path: /v1.0/weather/marine
                invalidTimezone:
                  summary: Invalid timezone
                  value:
                    timestamp: '2026-07-24T11:35:20.399Z'
                    status: 400
                    message: Invalid timezone
                    error: error
                    path: /v1.0/weather/marine
                dateRangeExceeded:
                  summary: Forecast range exceeds 16 days
                  value:
                    timestamp: '2026-07-24T11:35:05.950Z'
                    status: 400
                    message: Forecast date range must be within 2026-07-24 to 2026-08-08
                    error: params-exception-error
                    path: /v1.0/weather/marine
                incompleteDateRange:
                  summary: Only one of startDate/endDate supplied
                  value:
                    error: Invalid Param Exception
                    message: please pass correct parameters
                    path: /v1.0/weather/marine
                    status: 400
                    timestamp: '2026-07-24T11:35:30.525Z'
        '404':
          description: Not Found — location could not be resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                locationNotFound:
                  summary: Location not found
                  value:
                    timestamp: '2026-07-24T11:35:17.921Z'
                    status: 404
                    message: Location not found
                    error: error
                    path: /v1.0/weather/marine
  /time-series:
    servers:
    - url: https://api.apifreaks.com/v1.0/weather
      description: Time Series Weather API Server
    get:
      tags:
      - Weather APIs
      summary: Get historical weather data across a date range
      description: Pull historical weather information for date ranges up to 90 days (daily data) or 7 days (hourly data). Get consistent formatting across your specified date range with reliable historical weather patterns.
      operationId: getTimeSeriesData
      parameters:
      - name: format
        in: query
        required: false
        description: 'Format of the response. Possible values: json.'
        schema:
          type: string
          enum:
          - json
          default: json
      - name: startDate
        in: query
        required: true
        schema:
          type: string
          format: date
        description: Starting date for the data in YYYY-MM-DD format. Historical dates must be past dates only. Current or future dates are not allowed for historical data. Data available from 1940 onwards. For precision=daily, the difference between endDate and startDate must not exceed 90 days. For precision=hourly, the difference must not exceed 7 days.
      - name: endDate
        in: query
        required: true
        schema:
          type: string
          format: date
        description: End date for the data in YYYY-MM-DD format. Historical dates must be past dates only. Current or future dates are not allowed for historical data. Data available from 1940 onwards. For precision=daily, the difference between endDate and startDate must not exceed 90 days. For precision=hourly, the difference must not exceed 7 days.
      - name: location
        in: query
        schema:
          type: string
        description: City name, place name, or full address.
        required: false
      - name: lat
        in: query
        schema:
          type: number
        description: Latitude of the location, used together with long. A value of exactly 0 is treated as missing by the live API and returns a 400, so use a small non-zero value (e.g. 0.0001) for equator queries.
        required: false
      - name: long
        in: query
        schema:
          type: number
        description: Longitude of the location, used together with lat. A value of exactly 0 is treated as missing by the live API and returns a 400, so use a small non-zero value (e.g. 0.0001) for prime-meridian queries.
        required: false
      - name: ip
        in: query
        schema:
          type: string
        description: IP(v4 or v6) address for location inference.
        required: false
      - name: precision
        in: query
        schema:
          enum:
          - daily
          - hourly
          type: string
          default: daily
        description: Precision of the data. daily returns a daily aggregate per date; hourly returns 24 hourly readings per date instead and requires the date range to be 7 days or less.
        required: false
      - name: timezone
        in: query
        schema:
          type: string
        description: Timezone for the results.
        required: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSeriesResponse'
              examples:
                typicalSuccess:
                  summary: Typical successful response (daily precision, address lookup)
                  value:
                    location:
                      location_string: Lahore
                      country_name: Pakistan
                      state_prov: Punjab
                      city: Lahore
                      locality: ''
                      latitude: '31.56568'
                      longitude: '74.31418'
                      elevation: ''
                      timezone: Asia/Karachi
                      timezone_abbreviation: GMT+5
                    historical:
                      '2025-08-01':
                        daily:
                          timestamp: '2025-08-01'
                          weather_code: 63
                          temperature_2m_mean: 27.7
                          temperature_2m_max: 30.3
                          temperature_2m_min: 26
                          apparent_temperature_mean: 34
                          apparent_temperature_max: 36.8
                          apparent_temperature_min: 31.8
                          precipitation_sum: 11.9
                          rain_sum: 11.9
                          snowfall_sum: 0
                          wind_speed_10m_max: 10.9
                          wind_gusts_10m_max: 27.7
                          wind_speed_10m_mean: 7.4
                          wind_speed_10m_min: 3.1
                          wind_gusts_10m_min: 6.8
                          wind_gusts_10m_mean: 17.8
                          wind_direction_10m_dominant: 82
                          shortwave_radiation_sum: 8.98
                          et0_fao_evapotranspiration_sum: 2.01
                          cloud_cover_mean: 99
                          dew_point_2m_mean: 25.9
                          dew_point_2m_max: 26.5
                          dew_point_2m_min: 24.9
                          relative_humidity_2m_mean: 90
                          relative_humidity_2m_max: 97
                          relative_humidity_2m_min: 79
                          pressure_msl_mean: 999.2
                          surface_pressure_mean: 975.3
                        astronomy:
                          date: '2025-08-01'
                          mid_night: 00:09
                          night_end: 03:47
                          sunrise: 05:17
                          sunset: '19:00'
                          night_begin: '20:30'
                          sun_status: '-'
                          solar_noon: '12:09'
                          day_length: '13:43'
                          moon_phase: FIRST_QUARTER
                          moonrise: '12:18'
                          moonset: '23:04'
                          moon_status: '-'
                hourlyPrecision:
                  summary: Hourly precision response (no daily key)
                  value:
                    location:
                      location_string: Lahore
                      country_name: Pakistan
                      state_prov: Punjab
                      city: Lahore
                      locality: ''
                      latitude: '31.56568'
                      longitude: '74.31418'
                      elevation: ''
                      timezone: Asia/Karachi
                      timezone_abbreviation: GMT+5
                    historical:
                      '2025-08-01':
                        hourly:
                        - timestamp: 2025-08-01T00:00
                          temperature_2m: 27
                          relative_humidity_2m: 92
                          dew_point_2m: 25.5
                          apparent_temperature: 32.9
                          precipitation: 0
                          rain: 0
                          snowfall: 0
                          weather_code: 3
                          pressure_msl: 999.5
                          surface_pressure: 975.5
                          cloud_cover: 100
                          et0_fao_evapotranspiration: 0
                          wind_speed_10m: 8.2
                          wind_direction_10m: 100
                          wind_gusts_10m: 16.2
                          albedo: null
                          shortwave_radiation: 0
                          direct_radiation: 0
                          diffuse_radiation: 0
                          direct_normal_irradiance: 0
                          global_tilted_irradiance: 0
                        astronomy:
                          date: '2025-08-01'
                          mid_night: 00:09
                          night_end: 03:47
                          sunrise: 05:17
                          sunset: '19:00'
                          night_begin: '20:30'
                          sun_status: '-'
                          solar_noon: '12:09'
                          day_length: '13:43'
                          moon_phase: FIRST_QUARTER
                          moonrise: '12:18'
                          moonset: '23:04'
                          moon_status: '-'
        '400':
          description: Bad Request — Missing/invalid parameters, invalid date range, or location could not be resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                MissingParams:
                  summary: Missing startDate/endDate
                  value:
                    timestamp: '2026-07-24T11:35:05.667Z'
                    status: 400
                    message: please pass correct parameters
                    error: Invalid Param Exception
                    path: /v1.0/weather/time-series
                InvalidDateFormat:
                  summary: startDate/endDate not in YYYY-MM-DD format
                  value:
                    timestamp: '2026-07-24T11:35:26.589Z'
                    status: 400
                    message: startDate must be in yyyy-mm-dd format
                    error: invalid-params
                    path: /v1.0/weather/time-series
                DateRangeTooWideDaily:
                  summary: Range over 90 days at daily precision
                  value:
                    timestamp: '2026-07-24T11:35:06.179Z'
                    status: 400
                    message: Date range cannot exceed 90 days.
                    error: error
                    path: /v1.0/weather/time-series
                DateRangeTooWideHourly:
                  summary: Range over 7 days at hourly precision
                  value:
                    timestamp: '2026-07-24T11:35:06.654Z'
                    status: 400
                    message: Time-series hourly date range must not exceed 7 days
                    error: params-exception-error
                    path: /v1.0/weather/time-series
                EndDateBeforeStartDate:
                  summary: endDate earlier than startDate
                  value:
                    timestamp: '2026-07-24T11:35:14.787Z'
                    status: 400
                    message: startDate must be before or equal to endDate
                    error: params-exception-error
                    path: /v1.0/weather/time-series
                FutureDate:
                  summary: endDate is today or in the future
                  value:
                    timestamp: '2026-07-24T11:35:14.329Z'
                    status: 400
                    message: endDate cannot be current or future date
                    error: params-exception-error
                    path: /v1.0/weather/time-series
                DateOutOfRange:
                  summary: startDate earlier than 1940-01-01
                  value:
                    timestamp: '2026-07-24T11:35:26.108Z'
                    status: 400
                    message: Parameter 'startDate' is out of allowed range from 1940-01-01 to 2026-07-24
                    error: error
                    path: /v1.0/weather/time-series
                InvalidCoordinates:
                  summary: Latitude or longitude out of range (e.g. lat=999)
                  value:
                    timestamp: '2026-07-24T11:35:15.849Z'
                    status: 400
                    message: Invalid latitude or longitude values. Latitude must be between -90 and 90, and longitude must be between -180 and 180
                    error: invalid-params
                    path: /v1.0/weather/time-series
                InvalidIPAddress:
                  summary: Invalid IP address
                  value:
                    timestamp: '2026-07-24T11:35:16.321Z'
                    status: 400
                    message: Invalid IP address
                    error: invalid-params
                    path: /v1.0/weather/time-series
                LocationNotFound:
                  summary: Location string could not be geocoded (returns 400, not 404, on this endpoint)
                  value:
                    timestamp: '2026-07-24T11:36:14.115Z'
                    status: 400
                    message: We couldn't find the location (xyzxyzxyz123nonexistent). Try a city or state level location address only.
                    error: error
                    path: /v1.0/weather/time-series
                InvalidPrecision:
                  summary: precision value outside daily/hourly
                  value:
                    timestamp: '2026-07-24T11:36:04.187Z'
                    status: 400
                    message: Invalid precision
                    error: invalid-params
                    path: /v1.0/weather/time-series
                InvalidTimezone:
                  summary: Unrecognized timezone value
                  value:
                    timestamp: '2026-07-24T11:36:04.753Z'
                    status: 400
                    message: Check whether your input value is correct; timezone = NotATimezone
                    error: error
                    path: /v1.0/weather/time-series
  /forecast:
    servers:
    - url: https://api.apifreaks.com/v1.0/weather
      description: Weather Forecast API Server
    get:
      tags:
      - Weather APIs
      summary: Retrieve daily, hourly, or minutely weather forecasts for up to 16 days ahead
      description: Returns forecast data for a location resolved from GPS coordinates, a place name/address, or an IP address, plus astronomy data for each requested day. Configure the date range with `forecastDays` or `startDate`/`endDate`, and choose forecast granularity with `precision`.
      operationId: getWeatherForecast
      parameters:
      - name: format
        in: query
        required: false
        description: 'Format of the response. Possible values: json.'
        schema:
          type: string
          enum:
          - json
          default: json
      - name: location
        in: query
        required: false
        description: City name, place name, or full address to resolve to coordinates. Ignored when lat/long are also provided, since coordinates take priority.
        schema:
          type: string
      - name: lat
        in: query
        required: false
        description: Latitude of the location. Must be supplied together with long or the request fails with a 400. Takes priority over location and ip when combined with them.
        schema:
          type: number
      - name: long
        in: query
        required: false
        description: Longitude of the location. Must be supplied together with lat or the request fails with a 400.
        schema:
          type: number
      - name: ip
        in: query
        required: false
        description: IPv4 or IPv6 address to infer location from. Used only when lat/long and location are not provided; if the whole parameter is omitted, the requester's own IP is used instead. Private/reserved IPs do not error — they return placeholder location fields (e.g. country_name "ZZ").
        schema:
          type: string
      - name: startDate
        in: query
        required: false
        description: Start date for the forecast in YYYY-MM-DD format. Must be supplied together with endDate — passing only one returns a 400. Forecast dates must be today or later, and the range between startDate and endDate must not exceed 16 days from today.
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        required: false
        description: End date for the forecast in YYYY-MM-DD format. Must be supplied together with startDate — passing only one returns a 400. Forecast dates must be today or later, and the range between startDate and endDate must not exceed 16 days from today.
        schema:
          type: string
          format: date
      - name: forecastDays
        in: query
        required: false
        description: Number of days to forecast starting today, from 1 to 16. Default is 7. Not used together with startDate/endDate.
        schema:
          type: integer
          minimum: 1
          maximum: 16
      - name: precision
        in: query
        required: false
        description: 'Forecast granularity. Possible values: daily (default), hourly, minutely. Only one of the corresponding daily/hourly/minutely blocks is returned per day — astronomy data is always included regardless of precision. An unsupported value returns a 400.'
        schema:
          type: string
          enum:
          - daily
          - hourly
          - minutely
          default: daily
      - name: timezone
        in: query
        required: false
        description: IANA timezone identifier to convert forecast and astronomy times into (e.g. America/New_York). Defaults to the resolved location's local timezone. An invalid value returns a 400.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForecastResponse'
              examples:
                dailyPrecision:
                  summary: Default daily forecast
                  value:
                    location:
                      location_string: Lahore
                      country_name: Pakistan
                      state_prov: Punjab
                      city: Lahore
                      locality: ''
                      latitude: '31.56568'
                      longitude: '74.31418'
                      elevation: ''
                      timezone: Asia/Karachi
                      timezone_abbreviation: GMT+5
                    forecast:
                      '2026-07-24':
                        daily:
                          timestamp: '2026-07-24'
                          weather_code: 96
                          temperature_2m_max: 32.8
                          temperature_2m_min: 25.2
                          apparent_temperature_max: 40
                          apparent_temperature_min: 30.4
                          temperature_2m_mean: 28.9
                          apparent_temperature_mean: 35.2
                          uv_index_max: 8.3
                          uv_index_clear_sky_max: 8.3
                          rain_sum: 2.2
                          showers_sum: 15.3
                          snowfall_sum: 0
                          precipitation_sum: 17.5
                          wind_speed_10m_max: 9.9
                          wind_gusts_10m_max: 24.1
                          wind_direction_10m_dominant: 79
                          shortwave_radiation_sum: 19.92
                          surface_pressure_mean: 975.8
                          visibility_mean: 5653.33
                          cloud_cover_mean: 83
                          dew_point_2m_mean: 25.4
                          dew_point_2m_max: 26.7
                          dew_point_2m_min: 24.1
                          et0_fao_evapotranspiration_sum: 4.38
                          precipitation_probability_mean: 56
                          relative_humidity_2m_mean: 82
                          relative_humidity_2m_max: 99
                          relative_humidity_2m_min: 63
                          pressure_msl_mean: 999.7
                          wind_gusts_10m_mean: 18
                          wind_speed_10m_mean: 6.5
                          wind_gusts_10m_min: 10.1
                          wind_speed_10m_min: 3.6
                        astronomy:
                          date: '2026-07-24'
                          mid_night: 00:09
                          night_end: 03:39
                          sunrise: 05:12
                          sunset: '19:06'
                          night_begin: '20:38'
                          sun_status: '-'
                          solar_noon: '12:09'
                          day_length: '13:54'
                          moon_phase: WAXING_GIBBOUS
                          moonrise: '15:08'
                          moonset: 00:26
                          moon_status: '-'
                hourlyPrecision:
                  summary: precision=hourly response
                  value:
                    location:
                      location_string: Lahore
                      country_name: Pakistan
                      state_prov: Punjab
                      city: Lahore
                      locality: ''
                      latitude: '31.56568'
                      longitude: '74.31418'
                      elevation: ''
                      timezone: Asia/Karachi
                      timezone_abbreviation: GMT+5
                    forecast:
                      '2026-07-24':
                        hourly:
                        - timestamp: 2026-07-24T00:00
                          temperature_2m: 27.3
                          relative_humidity_2m: 84
                          dew_point_2m: 24.4
                          apparent_temperature: 32.4
                          precipitation_probability: 40
                          precipitation: 0
                          rain: 0
                          showers: 0
                          snowfall: 0
                          weather_code: 3
                          pressure_msl: 1000.9
                          surface_pressure: 976.9
                          cloud_cover: 98
                          visibility: 7740
                          et0_fao_evapotranspiration: 0.01
                          wind_speed_10m: 8.4
                          wind_direction_10m: 74
                          wind_gusts_10m: 16.2
                          uv_index: 0
                          uv_index_clear_sky: 0
                          direct_normal_irradiance: 0
                          global_tilted_irradiance: 0
                          direct_radiation: 0
                          shortwave_radiation: 0
                          diffuse_radiation: 0
                        astronomy:
                          date: '2026-07-24'
                          mid_night: 00:09
                          night_end: 03:39
                          sunrise: 05:12
                          sunset: '19:06'
                          night_begin: '20:38'
                          sun_status: '-'
                          solar_noon: '12:09'
                          day_length: '13:54'
                          moon_phase: WAXING_GIBBOUS
                          moonrise: '15:08'
                          moonset: 00:26
                          moon_status: '-'
        '400':
          description: Bad Request — invalid, missing, or conflicting parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidCoordinateRange:
                  summary: Latitude/longitude out of range
                  value:
                    timestamp: '2026-07-24T11:34:06.131Z'
                    status: 400
                    message: Invalid latitude or longitude values. Latitude must be between -90 and 90, and longitude must be between -180 and 180
                    error: invalid-params
                    path: /v1.0/weather/forecast
                IncompleteCoordinates:
                  summary: lat given without long
                  value:
                    error: Invalid Param Exception
                    message: please pass correct parameters
                    path: /v1.0/weather/forecast
                    status: 400
                    timestamp: '2026-07-24T11:34:06.623Z'
                UnresolvableCoordinates:
                  summary: Valid but unresolvable coordinates (e.g. open ocean)
                  value:
                    timestamp: '2026-07-24T11:34:20.552Z'
                    status: 400
                    message: Please provide both lat and long parameters.
                    error: invalid-params
                    path: /v1.0/weather/forecast
                LocationNotFound:
                  summary: location text could not be geocoded
                  value:
                    timestamp: '2026-07-24T11:34:07.198Z'
                    status: 400
                    message: We couldn't find the location (asdkjhaskjdhaksjdh). Try a city or state level location address only.
                    error: error
                    path: /v1.0/weather/forecast
                InvalidIPAddress:
                  summary: Malformed ip value
                  value:
                    timestamp: '2026-07-24T11:34:07.725Z'
                    status: 400
                    message: Invalid IP address
                    error: invalid-params
                    path: /v1.0/weather/forecast
                InvalidForecastDays:
                  summary: forecastDays outside 1-16
                  value:
                    timestamp: '2026-07-24T11:34:21.785Z'
                    status: 400
                    message: 'forecastDays must be within 1 and 16 (dates: 2026-07-24 to 2026-08-08)'
                    error: params-exception-error
                    path: /v1.0/weather/forecast
                InvalidDateRange:
                  summary: Date range exceeds 16 days or is in the past
                  value:
                    timestamp: '2026-07-24T11:34:23.468Z'
                    status: 400
                    message: Forecast date range must be within 2026-07-24 to 2026-08-08
                    error: params-exception-error
                    path: /v1.0/weather/forecast
                IncompleteDateRange:
                  summary: startDate given without endDate
                  value:
                    timestamp: '2026-07-24T11:35:04.757Z'
                    status: 400
                    message: startDate and endDate must both be present
                    error: params-exception-error
                    path: /v1.0/weather/forecast
                InvalidPrecision:
                  summary: Unsupported precision value
                  value:
                    timestamp: '2026-07-24T11:34:22.909Z'
                    status: 400
                    message: Invalid precision
                    error: invalid-params
                    path: /v1.0/weather/forecast
                InvalidTimezone:
                  summary: Unrecognized timezone identifier
                  value:
                    timestamp: '2026-07-24T11:34:24.537Z'
                    status: 400
                    message: Check whether your input value is correct; timezone = NotATimezone
                    error: error
                    path: /v1.0/weather/forecast
components:
  schemas:
    BulkCurrentResponse:
      type: object
      required:
      - bulk
      properties:
        bulk:
          type: array
          items:
            oneOf:
            - description: A successfully resolved location's weather result.
              $ref: '#/components/schemas/CurrentWeatherResponse'
            - description: Returned in place of a weather result when that location could not be resolved (missing fields, unrecognized address, etc). Does not fail the request, even when every item in the batch errors.
              $ref: '#/components/schemas/BulkWeatherItemError'
          description: Array of per-location results, one entry per requested location, in the same order as the request. Each entry is either a full weather result or a per-item error object.
      description: Bulk weather response containing an array of per-location current weather results.
    LocationByCoordinates:
      type: object
      required:
      - latitude
      - longitude
      - country_name
      - state_prov
      - city
      - timezone
      - timezone_abbreviation
      properties:
        latitude:
          type: string
          description: Geographic latitude coordinate in decimal degrees, ranging from -90 (South Pole) to +90 (North Pole). Returned as a string, not a number.
        longitude:
          type: string
          description: Geographic longitude coordinate in decimal degrees, ranging from -180 (West) to +180 (East). Returned as a string, not a number.
        country_name:
          type: string
          description: Full name of the country corresponding to the provided coordinates.
        state_prov:
          type: string
          description: State, province, or primary administrative division name for the location.
        city:
          type: string
          description: City or municipal area name associated with the coordinate location.
        locality:
          type: string
          description: Specific locality, neighborhood, district, or village name within the broader area.
        elevation:
          type: string
          description: Height above mean sea level in meters for the specified coordinates. Returned as a string, not a number, and can be an empty string when unavailable.
        timezone:
          type: string
          description: IANA timezone database identifier for the location (e.g., America/New_York, Europe/London).
        timezone_abbreviation:
          type: string
          description: Abbreviated timezone representation based on current offset (e.g., EST, GMT, PST).
      description: Location data when the target is specified by GPS coordinates (lat/long).
    ForecastDay:
      type: object
      description: Forecast data for a single day. Contains an astronomy block plus exactly one of daily/hourly/minutely, chosen by the precision parameter.
      required:
      - astronomy
      properties:
        daily:
          $ref: '#/components/schemas/ForecastDaily'
          description: Daily forecast summary. Present when precision is daily (the default).
        hourly:
          type: array
          description: Hourly forecast readings for the day. Present when precision is hourly.
          items:
            $ref: '#/components/schemas/ForecastHourly'
        minutely:
          type: array
          description: Minute-by-minute forecast readings for the day. Present when precision is minutely.
          items:
            $ref: '#/components/schemas/ForecastMinutely'
        astronomy:
          $ref: '#/components/schemas/Astronomy_3'
          description: Astronomy data for the day. Always present regardless of precision.
    WeatherLocation_4:
      type: object
      description: Location information. The shape of this object varies by lookup method.
      oneOf:
      - description: Location data when the target is specified by GPS coordinates (lat/long).
        $ref: '#/components/schemas/LocationByCoordinates_5'
      - description: Location data when the target is inferred from an IP address.
        $ref: '#/components/schemas/LocationByIP_5'
      - description: Location data when the target is specified by a city name or address string.
        $ref: '#/components/schemas/LocationByAddress_5'
    LocationByIP_5:
      type: object
      required:
      - continent_code
      - continent_name
      - country_code2
      - country_code3
      - country_name
      - country_name_official
      - state_prov
      - city
      - latitude
      - longitude
      - timezone
      - timezone_abbreviation
      properties:
        continent_code:
          type: string
          description: Two-letter continent code (e.g., NA for North America, EU for Europe, AS for Asia).
        continent_name:
          type: string
          description: Full name of the continent where the IP address is registered.
        country_code2:
          type: string
          description: ISO 3166-1 alpha-2 two-letter country code (e.g., US, GB, FR).
        country_code3:
          type: string
          description: ISO 3166-1 alpha-3 three-letter country code (e.g., USA, GBR, FRA).
        country_name:
          type: string
          description: Common name of the country associated with the IP address.
        country_name_official:
          type: string
          description: Official long-form country name as recognized internationally (e.g., United States of America).
        is_eu:
          type: boolean
          description: Boolean flag indicating whether the country is a member state of the European Union.
        state_prov:
          type: string
          description: State, province, or primary administrative division associated with the IP location.
        state_code:
          type: string
          description: ISO 3166-2 subdivision code for the state or province (e.g., CA for California).
        district:
          type: string
          description: District, county, or secondary administrative division within the region.
        city:
          type: string
          description: City or urban area name where the IP address is geographically registered.
        zipcode:
          type: string
          description: Postal code or ZIP code for the approximate location of the IP address.
        latitude:
          type: string
          description: Geographic latitude in decimal degrees for the IP geolocation, ranging from -90 to +90. Returned as a string, not a number.
        longitude:
          type: string
          description: Geographic longitude in decimal degrees for the IP geolocation, ranging from -180 to +180. Returned as a string, not a number.
        locality:
          type: string
          description: Specific locality, neighborhood, or small area designation within the city.
        elevation:
          type: string
          description: Elevation above mean sea level in meters for the IP geolocation. Returned as a string, not a number; can be an empty string when unavailable.
        timezone:
          type: string
          description: IANA timezone database identifier for the IP location (e.g., America/Chicago, Asia/Tokyo).
        timezone_abbreviation:
          type: string
          description: Current timezone abbreviation based on local offset (e.g., CST, JST, UTC).
      description: Location data when the target is inferred from an IP address.
    ForecastData:
      type: object
      description: Forecast data keyed by calendar date (YYYY-MM-DD). Each key is a date string and the value is a ForecastDay object.
      additionalProperties:
        $ref: '#/components/schemas/ForecastDay'
    LocationByAddress:
      type: object
      required:
      - location_string
      - country_name
      - state_prov
      - city
      - latitude
      - longitude
      - timezone
      - timezone_abbreviation
      properties:
        location_string:
          type: string
          description: Original location query string as submitted, including full address or place name.
        country_name:
          type: string
          description: Resolved country name derived from the geocoded location query.
        state_prov:
          type: string
          description: State, province, or primary administrative division identified from the location.
        city:
          type: string
          description: City or municipal area name extracted from the geocoded location.
        locality:
          type: string
          description: Specific locality, neighborhood, suburb, or village within the geocoded area.
        latitude:
          type: string
          description: Geocoded latitude coordinate in decimal degrees, ranging from -90 to +90. Returned as a string, not a number.
        longitude:
          type: string
          description: Geocoded longitude coordinate in decimal degrees, ranging from -180 to +180. Returned as a string, not a number.
        elevation:
          type: string
          description: Elevation above mean sea level in meters at the geocoded coordinates. Returned as a string, not a number, and can be an empty string when unavailable.
        timezone:
          type: string
          description: IANA timezone database identifier for the geocoded location (e.g., America/Los_Angeles).
        timezone_abbreviation:
          type: string
          description: Current timezone abbreviation for the location based on local offset (e.g., PDT, CET).
      description: Location data when the target is specified by a city name or address string.
    FloodForecastDay:
      type: object
      description: Flood forecast data for a single day, containing river discharge metrics.
      required:
      - daily
      properties:
        daily:
          $ref: '#/components/schemas/FloodDaily'
    WeatherLocation_6:
      type: object
      description: Location information. The shape of this object varies by lookup method.
      oneOf:
      - description: Location data when the target is specified by GPS coordinates (lat/long).
        $ref: '#/components/schemas/LocationByCoordinates_8'
      - description: Location data when the target is inferred from an IP address.
        $ref: '#/components/schemas/LocationByIP_8'
      - description: Location data when the target is specified by a city name or address string.
        $ref: '#/components/schemas/LocationByAddress_8'
    LocationByAddress_2:
      type: object
      required:
      - location_string
      - country_name
      - state_prov
      - city
      - latitude
      - longitude
      - timezone
      - timezone_abbreviation
      properties:
        location_string:
          type: string
          description: Original location query string as submitted, including full address or place name.
        country_name:
          type: string
          description: Resolved country name derived from the geocoded location query.
        state_prov:
          type: string
          description: State, province, or primary administrative division identified from the location.
        city:
          type: string
          description: City or municipal area name extracted from the geocoded location.
        locality:
          type: string
          description: Specific locality, neighborhood, suburb, or village within the geocoded area.
        latitude:
          type: string
          description: Geocoded latitude coordinate in decimal degrees, ranging from -90 to +90. Returned as a string, not a number.
        longitude:
          type: string
          description: Geocoded longitude coordinate in decimal degrees, ranging from -180 to +180. Returned as a string, not a number.
        elevation:
          type: string
          description: Elevation above mean sea level in meters at the geocoded coordinates. Returned as a string, not a number; can be an empty string when unavailable.
        timezone:
          type: string
          description: IANA timezone database identifier for the geocoded location (e.g., America/Los_Angeles).
        timezone_abbreviation:
          type: string
          description: Current timezone abbreviation for the location based on local offset (e.g., PDT, CET).
      description: Location data when the target is specified by a city name or address string.
    BulkWeatherItemError:
      type: object
      description: Per-item error, returned in place of a weather result when an individual location could not be resolved.
      required:
      - error
      properties:
        error:
          type: string
          description: Human-readable reason this location could not be resolved (e.g. "Location not found", "Missing required location parameters").
    MarineForecastData:
      type: object
      description: Forecast data keyed by date (YYYY-MM-DD). Each key is a forecast date and its value is a MarineForecastDay.
      additionalProperties:
        $ref: '#/components/schemas/MarineForecastDay'
    FloodForecastData:
      type: object
      description: Flood forecast data object keyed by date (YYYY-MM-DD); each key's value is a FloodForecastDay object.
      additionalProperties:
        $ref: '#/components/schemas/FloodForecastDay'
    LocationByCoordinates_8:
      type: object
      description: Location data when the target is specified by GPS coordinates (lat/long).
      required:
      - latitude
      - longitude
      - country_name
      - state_prov
      - city
      - timezone
      - timezone_abbreviation
      properties:
        latitude:
          type: string
          description: Geographic latitude coordinate in decimal degrees, ranging from -90 (South Pole) to +90 (North Pole). Returned as a string, not a number.
        longitude:
          type: string
          description: Geographic longitude coordinate in decimal degrees, ranging from -180 (West) to +180 (East). Returned as a string, not a number.
        country_name:
          type: string
          description: Full name of the country corresponding to the provided coordinates.
        state_prov:
          type: string
          description: State, province, or primary administrative division name for the location.
        city:
          type: string
          description: City or municipal area name associated with the coordinate location.
        locality:
          type: string
          description: Specific locality, neighborhood, district, or village name within the broader area.
        elevation:
          type: string
          description: Height above mean sea level in meters, returned as a string. May be an empty string when elevation data is unavailable.
        timezone:
          type: string
          description: IANA timezone database identifier for the location (e.g., America/New_York, Europe/London).
        timezone_abbreviation:
          type: string
          description: Abbreviated timezone representation based on current offset (e.g., EST, GMT, PST).
    LocationByAddress_5:
      type: object
      required:
      - location_string
      - country_name
      - state_prov
      - city
      - latitude
      - longitude
      - timezone
      - timezone_abbreviation
      properties:
        location_string:
          type: string
          description: Original location query string as submitted, including full address or place name.
        country_name:
          type: string
          description: Resolved country name derived from the geocoded location query.
        state_prov:
          type: string
          description: State, province, or primary administrative division identified from the location.
        city:
          type: string
          description: City or municipal area name extracted from the geocoded location.
        locality:
          type: string
          description: Specific locality, neighborhood, suburb, or village within the geocoded area.
        latitude:
          type: string
          description: Geocoded latitude coordinate in decimal degrees, ranging from -90 to +90. Returned as a string, not a number.
        longitude:
          type: string
          description: Geocoded longitude coordinate in decimal degrees, ranging from -180 to +180. Returned as a string, not a number.
        elevation:
          type: string
          description: Elevation above mean sea level in meters at the geocoded coordinates. Returned as a string, not a number; can be an empty string when unavailable.
        timezone:
          type: string
          description: IANA timezone database identifier for the geocoded location (e.g., America/Los_Angeles).
        timezone_abbreviation:
          type: string
[...]
