openapi: 3.2.0
info:
  title: Apifreaks Api Hub For Developers WHOIS APIs API
  version: 1.0.0
  contact:
    name: APIFreaks Support
    url: https://apifreaks.com/contact
    email: support@apifreaks.com
  description: 'Operations tagged WHOIS APIs across 6 of this provider''s published API definitions: apifreaks-api-hub-for-developers-asn-lookup-openapi.json, apifreaks-api-hub-for-developers-bulk-whois-lookup-openapi.json, apifreaks-api-hub-for-developers-domain-whois-history-lookup-openapi.json, apifreaks-api-hub-for-developers-reverse-whois-openapi.json, apifreaks-api-hub-for-developers-whois-domain-lookup-openapi.json, apifreaks-api-hub-for-developers-whois-ip-lookup-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.apifreaks.com/v1.0
  description: ASN Lookup API Server
- url: https://api.apifreaks.com/v2.0
  description: Bulk Domain WHOIS Lookup API Server
security:
- ApiKeyAuthHeader: []
- ApiKeyAuthQuery: []
tags:
- name: WHOIS APIs
paths:
  /asn/whois/live:
    servers:
    - url: https://api.apifreaks.com/v1.0
      description: ASN Lookup API Server
    get:
      tags:
      - WHOIS APIs
      summary: Retrieve WHOIS registration data, CIDR block inventory, and BGP peer relationships for an Autonomous System Number
      description: Returns the WHOIS record for the specified ASN, including organization details, IPv4/IPv6 route objects, upstream/downstream/peer relationships, and both parsed and raw WHOIS text. Accepts the ASN with or without the 'AS' prefix.
      operationId: asnLookup
      parameters:
      - name: format
        in: query
        required: false
        description: Format of the response.
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: asn
        in: query
        required: true
        description: Autonomous System Number to retrieve WHOIS data for, with or without the 'AS' prefix (e.g. 15169 or AS15169).
        schema:
          type: string
      responses:
        '200':
          description: Successful ASN WHOIS response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ASNLookupResponse'
              examples:
                typicalSuccess:
                  summary: Typical successful response
                  value:
                    asNumber: '15'
                    asName: NET-DYNAMICS-EXP
                    orgName: DYNAMICS
                    description: ''
                    orgHandle: dynami-109
                    country: US
                    domain: nisc.sri.com
                    website: ''
                    allocationStatus: ''
                    numOfIPv4Routes: '0'
                    numOfIPv6Routes: '0'
                    whoisHost: ARIN
                    dateAllocated: ''
                    type: ISP
                    routeObjects: []
                    whoisResponse: "\n#\n# ARIN WHOIS data and services are subject to the Terms of Use\n# available at: https://www.arin.net/resources/registry/whois/tou/\n#\n# If you see inaccuracies in the results, please report at\n# https://www.arin.net/resources/registry/whois/inaccuracy_reporting/\n#\n# Copyright 1997-2026, American Registry for Internet Numbers, Ltd.\n#\n\n\nASNumber:       15\nASName:         NET-DYNAMICS-EXP\nASHandle:       AS15\nRegDate:        \nUpdated:        1991-06-27\nRef:            https://rdap.arin.net/registry/autnum/15\n\n\nOrgName:        DYNAMICS\nOrgId:          DYNAMI-109\nCity:           \nStateProv:      \nPostalCode:     \nCountry:        US\nRegDate:        \nUpdated:        2012-10-10\nRef:            https://rdap.arin.net/registry/entity/DYNAMI-109\n\n\nOrgTechHandle: ZSU-ARIN\nOrgTechName:   Su, Zaw-Sing \nOrgTechPhone:  +1-415-859-4576 \nOrgTechEmail:  zsu@nisc.sri.com\nOrgTechRef:    https://rdap.arin.net/registry/entity/ZSU-ARIN\n\nOrgAbuseHandle: ZSU-ARIN\nOrgAbuseName:   Su, Zaw-Sing \nOrgAbusePhone:  +1-415-859-4576 \nOrgAbuseEmail:  zsu@nisc.sri.com\nOrgAbuseRef:    https://rdap.arin.net/registry/entity/ZSU-ARIN\n\nRTechHandle: ZSU-ARIN\nRTechName:   Su, Zaw-Sing \nRTechPhone:  +1-415-859-4576 \nRTechEmail:  zsu@nisc.sri.com\nRTechRef:    https://rdap.arin.net/registry/entity/ZSU-ARIN\n\n\n#\n# ARIN WHOIS data and services are subject to the Terms of Use\n# available at: https://www.arin.net/resources/registry/whois/tou/\n#\n# If you see inaccuracies in the results, please report at\n# https://www.arin.net/resources/registry/whois/inaccuracy_reporting/\n#\n# Copyright 1997-2026, American Registry for Internet Numbers, Ltd.\n#\n"
                    downstreams: []
                    parsedWhoisResponse:
                      status: true
                      whois_server: whois.arin.net
                      aut_nums:
                      - aut_num: '15'
                        as_handle: AS15
                        as_name: NET-DYNAMICS-EXP
                        tech_contacts:
                        - ZSU-ARIN
                        - ZSU-ARIN
                        abuse_contacts:
                        - ZSU-ARIN
                        date_updated: '1991-06-27'
                        source: https://rdap.arin.net/registry/autnum/15
                      organization:
                        handle: DYNAMI-109
                        name: DYNAMICS
                        address:
                        - US
                        country:
                        - US
                        date_updated: '2012-10-10'
                        source: https://rdap.arin.net/registry/entity/DYNAMI-109
                        addressCountry: US
                      technical_contacts:
                      - handle: ZSU-ARIN
                        name: Su, Zaw-Sing
                        email:
                        - zsu@nisc.sri.com
                        phone:
                        - +1-415-859-4576
                        source: https://rdap.arin.net/registry/entity/ZSU-ARIN
                      abuse_contacts:
                      - handle: ZSU-ARIN
                        name: Su, Zaw-Sing
                        email:
                        - zsu@nisc.sri.com
                        phone:
                        - +1-415-859-4576
                        source: https://rdap.arin.net/registry/entity/ZSU-ARIN
                    upstreams: []
                    peers: []
                    contacts:
                      emailContacts:
                      - zsu@nisc.sri.com
                      abuseContacts: []
                    legacyRoutes: []
        '400':
          description: Bad Request — Invalid asn parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalidAsn:
                  summary: Non-numeric asn value
                  value:
                    timestamp: '2026-07-23T07:47:06.640Z'
                    status: 400
                    error: Input parameter is not valid
                    message: Request-param 'asn' (ABC123) is not valid
                    path: /v2.0/asn-whois
        '404':
          description: Not Found — ASN could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                asnNotFound:
                  summary: ASN not allocated or unrecognized
                  value:
                    timestamp: '2026-07-23T07:47:45.427Z'
                    status: 404
                    error: Data Not Found
                    message: ASN data for 999999999 could not be found.
                    path: /v2.0/asn-whois
  /domain/whois/live:
    servers:
    - url: https://api.apifreaks.com/v2.0
      description: Bulk Domain WHOIS Lookup API Server
    post:
      tags:
      - WHOIS APIs
      summary: Retrieve real-time WHOIS registration and ownership data for up to 100 domain names in a single request
      description: Returns the current WHOIS record for each requested domain, in request order. Supports up to 100 domain names per request; a domain that fails to resolve yields an error item instead of failing the whole batch.
      operationId: bulkWhoisLookup
      parameters:
      - name: format
        in: query
        required: false
        description: Format of the response.
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkWhoisLookupRequest'
            examples:
              typicalRequest:
                summary: Typical bulk lookup request
                value:
                  domainNames:
                  - microsoft.com
                  - example.xn--tckwe
      responses:
        '200':
          description: WHOIS data retrieved successfully for every requested domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkWhoisLookupResponse'
              examples:
                typicalSuccess:
                  summary: All domains resolved
                  value:
                    bulk_whois_response:
                    - status: true
                      domain_name: example.xn--tckwe
                      query_time: '2026-07-23 09:28:42'
                      whois_server: https://tld-rdap.verisign.com/xn--tckwe/v1/
                      domain_registered: 'no'
                    - status: true
                      domain_name: microsoft.com
                      query_time: '2026-07-23 09:28:43'
                      whois_server: whois.verisign-grs.com
                      domain_registered: 'yes'
                      create_date: '1991-05-02'
                      update_date: '2026-01-29'
                      expiry_date: '2027-05-03'
                      domain_registrar:
                        iana_id: '292'
                        status: accredited
                        registrar_name: MarkMonitor, Inc
                        normalized_name: markmonitor
                        whois_server: whois.markmonitor.com
                        rdap_server: https://rdap.markmonitor.com/rdap/
                        website_url: http://www.markmonitor.com
                        email_address: abusecomplaints@markmonitor.com
                        phone_number: '+12086851750'
                      registrant_contact:
                        name: Domain Administrator
                        company: Microsoft Corporation
                        street: One Microsoft Way,
                        city: Redmond
                        state: WA
                        zip_code: '98052'
                        country_name: United States
                        country_code: US
                        email_address: admin@domains.microsoft
                        phone: '+14258828080'
                        fax: '+14259367329'
                      technical_contact:
                        name: MSN Hostmaster
                        country_name: United States
                        country_code: US
                        email_address: msnhst@microsoft.com
                        phone: '+14258828080'
                      name_servers:
                      - ns4-39.azure-dns.info
                      - ns3-39.azure-dns.org
                      - ns1-39.azure-dns.com
                      - ns2-39.azure-dns.net
                      domain_status:
                      - clientupdateprohibited
                      - clienttransferprohibited
                      - clientdeleteprohibited
                      - serverdeleteprohibited
                      - serverupdateprohibited
                      - servertransferprohibited
                      whois_raw_domain: "\nDomain Name: microsoft.com\nRegistry Domain ID: 2724960_DOMAIN_COM-VRSN\nRegistrar WHOIS Server: whois.markmonitor.com\nRegistrar URL: http://www.markmonitor.com\nUpdated Date: 2026-01-29T18:46:57+0000\nCreation Date: 1991-05-02T04:00:00+0000\nRegistrar Registration Expiration Date: 2027-05-03T00:00:00+0000\nRegistrar: MarkMonitor, Inc.\nRegistrar IANA ID: 292\nRegistrar Abuse Contact: https://corp.markmonitor.com/domain/ui/abuse-report\nRegistrar Abuse Contact Phone: +1.2086851750\nDomain Status: clientUpdateProhibited (https://www.icann.org/epp#clientUpdateProhibited)\nDomain Status: clientTransferProhibited (https://www.icann.org/epp#clientTransferProhibited)\nDomain Status: clientDeleteProhibited (https://www.icann.org/epp#clientDeleteProhibited)\nDomain Status: serverUpdateProhibited (https://www.icann.org/epp#serverUpdateProhibited)\nDomain Status: serverTransferProhibited (https://www.icann.org/epp#serverTransferProhibited)\nDomain Status: serverDeleteProhibited (https://www.icann.org/epp#serverDeleteProhibited)\nRegistrant Name: Domain Administrator\nRegistrant Organization: Microsoft Corporation\nRegistrant Street: One Microsoft Way, \nRegistrant City: Redmond\nRegistrant State/Province: WA\nRegistrant Postal Code: 98052\nRegistrant Country: US\nRegistrant Phone: +1.4258828080\nRegistrant Phone Ext: \nRegistrant Fax: +1.4259367329\nRegistrant Fax Ext: \nRegistrant Email: admin@domains.microsoft\nTech Name: MSN Hostmaster\nTech Phone: +1.4258828080\nTech Email: msnhst@microsoft.com\nName Server: ns1-39.azure-dns.com\nName Server: ns3-39.azure-dns.org\nName Server: ns2-39.azure-dns.net\nName Server: ns4-39.azure-dns.info\nDNSSEC: unsigned\nURL of the ICANN WHOIS Data Problem Reporting System: http://wdprs.internic.net/\n>>> Last update of WHOIS database: 2026-07-23T09:28:02+0000 <<<\n\nFor more information on WHOIS status codes, please visit:\n  https://www.icann.org/resources/pages/epp-status-codes\n\nIf you wish to contact this domain’s Registrant or Technical\ncontact, and such email address is not visible above, you may do so via our web\nform, pursuant to ICANN’s Temporary Specification. To verify that you are not a\nrobot, please enter your email address to receive a link to a page that\nfacilitates email communication with the relevant contact(s).\n\nWeb-based WHOIS:\n  https://domains.markmonitor.com/whois/contact/microsoft.com\n\nIf you have a legitimate interest in viewing the non-public WHOIS details, send\nyour request and the reasons for your request to whoisrequest@markmonitor.com\nand specify the domain name in the subject line. We will review that request and\nmay ask for supporting documentation and explanation.\n\nThe data in MarkMonitor’s WHOIS database is provided for information purposes,\nand to assist persons in obtaining information about or related to a domain\nname’s registration record. While MarkMonitor believes the data to be accurate,\nthe data is provided \"as is\" with no guarantee or warranties regarding its\naccuracy.\n\nBy submitting a WHOIS query, you agree that you will use this data only for\nlawful purposes and that, under no circumstances will you use this data to:\n  (1) allow, enable, or otherwise support the transmission by email, telephone,\nor facsimile of mass, unsolicited, commercial advertising, or spam; or\n  (2) enable high volume, automated, or electronic processes that send queries,\ndata, or email to MarkMonitor (or its systems) or the domain name contacts (or\nits systems).\n\nMarkMonitor reserves the right to modify these terms at any time.\n\nBy submitting this query, you agree to abide by this policy.\n\nMarkMonitor Domain Management(TM)\nProtecting companies and consumers in a digital world.\n\nVisit MarkMonitor at https://www.markmonitor.com\nContact us at +1.8007459229\nIn Europe, at +44.02032062220\n----"
                      registry_data:
                        domain_name: MICROSOFT.COM
                        query_time: '2026-07-23 09:28:42'
                        whois_server: whois.verisign-grs.com
                        domain_registered: 'yes'
                        create_date: '1991-05-02'
                        update_date: '2026-01-29'
                        expiry_date: '2027-05-03'
                        domain_registrar:
                          iana_id: '292'
                          registrar_name: MarkMonitor Inc
                          whois_server: whois.markmonitor.com
                          website_url: http://www.markmonitor.com
                        name_servers:
                        - ns4-39.azure-dns.info
                        - ns3-39.azure-dns.org
                        - ns1-39.azure-dns.com
                        - ns2-39.azure-dns.net
                        domain_status:
                        - clientupdateprohibited
                        - clientdeleteprohibited
                        - clienttransferprohibited
                        - serverdeleteprohibited
                        - serverupdateprohibited
                        - servertransferprohibited
                        whois_raw_registery: "\nDomain Name: MICROSOFT.COM\n   Registry Domain ID: 2724960_DOMAIN_COM-VRSN\n   Registrar WHOIS Server: whois.markmonitor.com\n   Registrar URL: http://www.markmonitor.com\n   Updated Date: 2026-01-29T18:46:57Z\n   Creation Date: 1991-05-02T04:00:00Z\n   Registry Expiry Date: 2027-05-03T04:00:00Z\n   Registrar: MarkMonitor Inc.\n   Registrar IANA ID: 292\n   Registrar Abuse Contact Email: abusecomplaints@markmonitor.com\n   Registrar Abuse Contact Phone: +1.2086851750\n   Domain Status: clientDeleteProhibited https://icann.org/epp#clientDeleteProhibited\n   Domain Status: clientTransferProhibited https://icann.org/epp#clientTransferProhibited\n   Domain Status: clientUpdateProhibited https://icann.org/epp#clientUpdateProhibited\n   Domain Status: serverDeleteProhibited https://icann.org/epp#serverDeleteProhibited\n   Domain Status: serverTransferProhibited https://icann.org/epp#serverTransferProhibited\n   Domain Status: serverUpdateProhibited https://icann.org/epp#serverUpdateProhibited\n   Name Server: NS1-39.AZURE-DNS.COM\n   Name Server: NS2-39.AZURE-DNS.NET\n   Name Server: NS3-39.AZURE-DNS.ORG\n   Name Server: NS4-39.AZURE-DNS.INFO\n   DNSSEC: unsigned\n   URL of the ICANN Whois Inaccuracy Complaint Form: https://www.icann.org/wicf/\n>>> Last update of whois database: 2026-07-23T09:28:23Z <<<\n\nFor more information on Whois status codes, please visit https://icann.org/epp\n\nNOTICE: The expiration date displayed in this record is the date the\nregistrar's sponsorship of the domain name registration in the registry is\ncurrently set to expire. This date does not necessarily reflect the expiration\ndate of the domain name registrant's agreement with the sponsoring\nregistrar.  Users may consult the sponsoring registrar's Whois database to\nview the registrar's reported date of expiration for this registration.\n\nTERMS OF USE: You are not authorized to access or query our Whois\ndatabase through the use of electronic processes that are high-volume and\nautomated except as reasonably necessary to register domain names or\nmodify existing registrations; the Data in VeriSign Global Registry\nServices' (\"VeriSign\") Whois database is provided by VeriSign for\ninformation purposes only, and to assist persons in obtaining information\nabout or related to a domain name registration record. VeriSign does not\nguarantee its accuracy. By submitting a Whois query, you agree to abide\nby the following terms of use: You agree that you may use this Data only\nfor lawful purposes and that under no circumstances will you use this Data\nto: (1) allow, enable, or otherwise support the transmission of mass\nunsolicited, commercial advertising or solicitations via e-mail, telephone,\nor facsimile; or (2) enable high volume, automated, electronic processes\nthat apply to VeriSign (or its computer systems). The compilation,\nrepackaging, dissemination or other use of this Data is expressly\nprohibited without the prior written consent of VeriSign. You agree not to\nuse electronic processes that are automated and high-volume to access or\nquery the Whois database except as reasonably necessary to register\ndomain names or modify existing registrations. VeriSign reserves the right\nto restrict your access to the Whois database in its sole discretion to ensure\noperational stability.  VeriSign may restrict or terminate your access to the\nWhois database for failure to abide by these terms of use. VeriSign\nreserves the right to modify these terms at any time.\n\nThe Registry database contains ONLY .COM, .NET, .EDU domains and\nRegistrars."
        '206':
          description: Partial Content — At least one domain in the batch returned an error; other domains in the same batch still resolved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkWhoisLookupResponse'
              examples:
                partialFailure:
                  summary: One domain unsupported, one resolved
                  value:
                    bulk_whois_response:
                    - status: false
                      domain_name: zzzz.local
                      status_code: 403
                      error: NotSupportedDomainExtException
                      message: We are not providing the whois of this domain extension (local)
                    - status: true
                      domain_name: microsoft.com
                      query_time: '2026-07-23 09:28:55'
                      whois_server: whois.verisign-grs.com
                      domain_registered: 'yes'
                      create_date: '1991-05-02'
                      update_date: '2026-01-29'
                      expiry_date: '2027-05-03'
                      domain_registrar:
                        iana_id: '292'
                        status: accredited
                        registrar_name: MarkMonitor, Inc
                        normalized_name: markmonitor
                        whois_server: whois.markmonitor.com
                        rdap_server: https://rdap.markmonitor.com/rdap/
                        website_url: http://www.markmonitor.com
                        email_address: abusecomplaints@markmonitor.com
                        phone_number: '+12086851750'
                      registrant_contact:
                        name: Domain Administrator
                        company: Microsoft Corporation
                        street: One Microsoft Way,
                        city: Redmond
                        state: WA
                        zip_code: '98052'
                        country_name: United States
                        country_code: US
                        email_address: admin@domains.microsoft
                        phone: '+14258828080'
                        fax: '+14259367329'
                      technical_contact:
                        name: MSN Hostmaster
                        country_name: United States
                        country_code: US
                        email_address: msnhst@microsoft.com
                        phone: '+14258828080'
                      name_servers:
                      - ns4-39.azure-dns.info
                      - ns3-39.azure-dns.org
                      - ns1-39.azure-dns.com
                      - ns2-39.azure-dns.net
                      domain_status:
                      - clientupdateprohibited
                      - clienttransferprohibited
                      - clientdeleteprohibited
                      - serverdeleteprohibited
                      - serverupdateprohibited
                      - servertransferprohibited
                      whois_raw_domain: "\nDomain Name: microsoft.com\nRegistry Domain ID: 2724960_DOMAIN_COM-VRSN\nRegistrar WHOIS Server: whois.markmonitor.com\nRegistrar URL: http://www.markmonitor.com\nUpdated Date: 2026-01-29T18:46:57+0000\nCreation Date: 1991-05-02T04:00:00+0000\nRegistrar Registration Expiration Date: 2027-05-03T00:00:00+0000\nRegistrar: MarkMonitor, Inc.\nRegistrar IANA ID: 292\nRegistrar Abuse Contact: https://corp.markmonitor.com/domain/ui/abuse-report\nRegistrar Abuse Contact Phone: +1.2086851750\nDomain Status: clientUpdateProhibited (https://www.icann.org/epp#clientUpdateProhibited)\nDomain Status: clientTransferProhibited (https://www.icann.org/epp#clientTransferProhibited)\nDomain Status: clientDeleteProhibited (https://www.icann.org/epp#clientDeleteProhibited)\nDomain Status: serverUpdateProhibited (https://www.icann.org/epp#serverUpdateProhibited)\nDomain Status: serverTransferProhibited (https://www.icann.org/epp#serverTransferProhibited)\nDomain Status: serverDeleteProhibited (https://www.icann.org/epp#serverDeleteProhibited)\nRegistrant Name: Domain Administrator\nRegistrant Organization: Microsoft Corporation\nRegistrant Street: One Microsoft Way, \nRegistrant City: Redmond\nRegistrant State/Province: WA\nRegistrant Postal Code: 98052\nRegistrant Country: US\nRegistrant Phone: +1.4258828080\nRegistrant Phone Ext: \nRegistrant Fax: +1.4259367329\nRegistrant Fax Ext: \nRegistrant Email: admin@domains.microsoft\nTech Name: MSN Hostmaster\nTech Phone: +1.4258828080\nTech Email: msnhst@microsoft.com\nName Server: ns1-39.azure-dns.com\nName Server: ns3-39.azure-dns.org\nName Server: ns2-39.azure-dns.net\nName Server: ns4-39.azure-dns.info\nDNSSEC: unsigned\nURL of the ICANN WHOIS Data Problem Reporting System: http://wdprs.internic.net/\n>>> Last update of WHOIS database: 2026-07-23T09:28:02+0000 <<<\n\nFor more information on WHOIS status codes, please visit:\n  https://www.icann.org/resources/pages/epp-status-codes\n\nIf you wish to contact this domain’s Registrant or Technical\ncontact, and such email address is not visible above, you may do so via our web\nform, pursuant to ICANN’s Temporary Specification. To verify that you are not a\nrobot, please enter your email address to receive a link to a page that\nfacilitates email communication with the relevant contact(s).\n\nWeb-based WHOIS:\n  https://domains.markmonitor.com/whois/contact/microsoft.com\n\nIf you have a legitimate interest in viewing the non-public WHOIS details, send\nyour request and the reasons for your request to whoisrequest@markmonitor.com\nand specify the domain name in the subject line. We will review that request and\nmay ask for supporting documentation and explanation.\n\nThe data in MarkMonitor’s WHOIS database is provided for information purposes,\nand to assist persons in obtaining information about or related to a domain\nname’s registration record. While MarkMonitor believes the data to be accurate,\nthe data is provided \"as is\" with no guarantee or warranties regarding its\naccuracy.\n\nBy submitting a WHOIS query, you agree that you will use this data only for\nlawful purposes and that, under no circumstances will you use this data to:\n  (1) allow, enable, or otherwise support the transmission by email, telephone,\nor facsimile of mass, unsolicited, commercial advertising, or spam; or\n  (2) enable high volume, automated, or electronic processes that send queries,\ndata, or email to MarkMonitor (or its systems) or the domain name contacts (or\nits systems).\n\nMarkMonitor reserves the right to modify these terms at any time.\n\nBy submitting this query, you agree to abide by this policy.\n\nMarkMonitor Domain Management(TM)\nProtecting companies and consumers in a digital world.\n\nVisit MarkMonitor at https://www.markmonitor.com\nContact us at +1.8007459229\nIn Europe, at +44.02032062220\n----"
                      registry_data:
                        domain_name: MICROSOFT.COM
                        query_time: '2026-07-23 09:28:54'
                        whois_server: whois.verisign-grs.com
                        domain_registered: 'yes'
                        create_date: '1991-05-02'
                        update_date: '2026-01-29'
                        expiry_date: '2027-05-03'
                        domain_registrar:
                          iana_id: '292'
                          registrar_name: MarkMonitor Inc
                          whois_server: whois.markmonitor.com
                          website_url: http://www.markmonitor.com
                        name_servers:
                        - ns4-39.azure-dns.info
                        - ns3-39.azure-dns.org
                        - ns1-39.azure-dns.com
                        - ns2-39.azure-dns.net
                        domain_status:
                        - clientupdateprohibited
                        - clientdeleteprohibited
                        - clienttransferprohibited
                        - serverdeleteprohibited
                        - serverupdateprohibited
                        - servertransferprohibited
                        whois_raw_registery: "\nDomain Name: MICROSOFT.COM\n   Registry Domain ID: 2724960_DOMAIN_COM-VRSN\n   Registrar WHOIS Server: whois.markmonitor.com\n   Registrar URL: http://www.markmonitor.com\n   Updated Date: 2026-01-29T18:46:57Z\n   Creation Date: 1991-05-02T04:00:00Z\n   Registry Expiry Date: 2027-05-03T04:00:00Z\n   Registrar: MarkMonitor Inc.\n   Registrar IANA ID: 292\n   Registrar Abuse Contact Email: abusecomplaints@markmonitor.com\n   Registrar Abuse Contact Phone: +1.2086851750\n   Domain Status: clientDeleteProhibited https://icann.org/epp#clientDeleteProhibited\n   Domain Status: clientTransferProhibited https://icann.org/epp#clientTransferProhibited\n   Domain Status: clientUpdateProhibited https://icann.org/epp#clientUpdateProhibited\n   Domain Status: serverDeleteProhibited https://icann.org/epp#serverDeleteProhibited\n   Domain Status: serverTransferProhibited https://icann.org/epp#serverTransferProhibited\n   Domain Status: serverUpdateProhibited https://icann.org/epp#serverUpdateProhibited\n   Name Server: NS1-39.AZURE-DNS.COM\n   Name Server: NS2-39.AZURE-DNS.NET\n   Name Server: NS3-39.AZURE-DNS.ORG\n   Name Server: NS4-39.AZURE-DNS.INFO\n   DNSSEC: unsigned\n   URL of the ICANN Whois Inaccuracy Complaint Form: https://www.icann.org/wicf/\n>>> Last update of whois database: 2026-07-23T09:28:38Z <<<\n\nFor more information on Whois status codes, please visit https://icann.org/epp\n\nNOTICE: The expiration date displayed in this record is the date the\nregistrar's sponsorship of the domain name registration in the registry is\ncurrently set to expire. This date does not necessarily reflect the expiration\ndate of the domain name registrant's agreement with the sponsoring\nregistrar.  Users may consult the sponsoring registrar's Whois database to\nview the registrar's reported date of expiration for this registration.\n\nTERMS OF USE: You are not authorized to access or query our Whois\ndatabase through the use of electronic processes that are high-volume and\nautomated except as reasonably necessary to register domain names or\nmodify existing registrations; the Data in VeriSign Global Registry\nServices' (\"VeriSign\") Whois database is provided by VeriSign for\ninformation purposes only, and to assist persons in obtaining information\nabout or related to a domain name registration record. VeriSign does not\nguarantee its accuracy. By submitting a Whois query, you agree to abide\nby the following terms of use: You agree that you may use this Data only\nfor lawful purposes and that under no circumstances will you use this Data\nto: (1) allow, enable, or otherwise support the transmission of mass\nunsolicited, commercial advertising or solicitations via e-mail, telephone,\nor facsimile; or (2) enable high volume, automated, electronic processes\nthat apply to VeriSign (or its computer systems). The compilation,\nrepackaging, dissemination or other use of this Data is expressly\nprohibited without the prior written consent of VeriSign. You agree not to\nuse electronic processes that are automated and high-volume to access or\nquery the Whois database except as reasonably necessary to register\ndomain names or modify existing registrations. VeriSign reserves the right\nto restrict your access to the Whois database in its sole discretion to ensure\noperational stability.  VeriSign may restrict or terminate your access to the\nWhois database for failure to abide by these terms of use. VeriSign\nreserves the right to modify these terms at any time.\n\nThe Registry database contains ONLY .COM, .NET, .EDU domains and\nRegistrars."
        '400':
          description: Bad Request — Missing or malformed request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missingBody:
                  summary: Missing domainNames array
                  value:
                    error: Invalid request body Exception
                    message: Please provide data in required format in request body
                    path: /v2.0/domain/whois/live
                    status: 400
                    timestamp: '2026-07-23T09:28:56.641Z'
        '413':
          description: Payload Too Large — Request exceeds the 100-domain batch limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                payloadTooLarge:
                  summary: More than 100 domain names submitted
                  value:
                    error: Payload too large Exception
                    message: Maximum request body size limit exceeded
                    path: /v2.0/domain/whois/live
                    status: 413
                    timestamp: '2026-07-23T09:28:57.228Z'
    get:
      tags:
      - WHOIS APIs
      summary: Retrieve real-time WHOIS registration and ownership data for a domain name
      description: Returns the current WHOIS record for the specified domain, including registrar details, registrant/administrative/technical/billing/reseller contacts, name servers, status codes, and raw WHOIS text.
      operationId: lookupDomainWhois
      parameters:
      - name: format
        in: query
        required: false
        description: Format of the response.
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: domainName
        in: query
        required: true
        description: Domain name to retrieve WHOIS data for (e.g. example.com).
        schema:
          type: string
      responses:
        '200':
          description: Successful WHOIS lookup response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainWhoisLookupResponse_2'
              examples:
                typicalSuccess:
                  summary: Typical successful response
                  value:
                    status: true
                    domain_name: google.com
                    query_time: '2026-07-23 08:22:19'
                    whois_server: whois.verisign-grs.com
                    domain_registered: 'yes'
                    create_date: '1997-09-15'
                    update_date: '2024-08-02'
                    expiry_date: '2028-09-13'
                    domain_registrar:
                      iana_id: '292'
                      status: accredited
                      registrar_name: MarkMonitor, Inc
                      normalized_name: markmonitor
                      whois_server: whois.markmonitor.com
                      rdap_server: https://rdap.markmonitor.com/rdap/
                      website_url: http://www.markmonitor.com
                      email_address: abusecomplaints@markmonitor.com
                      phone_number: '+12086851750'
                    registrant_contact:
                      company: Google LLC
                      country_name: United States
                      country_code: US
                      email_address: Select Request Email Form at https://domains.markmonitor.com/whois/google.com
                    technical_contact:
                      email_address: Select Request Email Form at https://domains.markmonitor.com/whois/google.com
                    name_servers:
                    - ns1.google.com
                    - ns2.google.com
                    - ns3.google.com
                    - ns4.google.com
                    domain_status:
                    - clientupdateprohibited
                    - clienttransferprohibited
                    - clientdeleteprohibited
                    - serverdeleteprohibited
                    - serverupdateprohibited
                    - servertransferprohibited
                    whois_raw_domain: "\nDomain Name: google.com\nRegistry Domain ID: 2138514_DOMAIN_COM-VRSN\nRegistrar WHOIS Server: whois.markmonitor.com\nRegistrar URL: http://www.markmonitor.com\nUpdated Date: 2024-08-02T02:17:33+0000\nCreation Date: 1997-09-15T07:00:00+0000\nRegistrar Registration Expiration Date: 2028-09-13T07:00:00+0000\nRegistrar: MarkMonitor, Inc.\nRegistrar IANA ID: 292\nRegistrar Abuse Contact: https://corp.markmonitor.com/domain/ui/abuse-report\nRegistrar Abuse Contact Phone: +1.2086851750\nDomain Status: clientUpdateProhibited (https://www.icann.org/epp#clientUpdateProhibited)\nDomain Status: clientTransferProhibited (https://www.icann.org/epp#clientTransferProhibited)\nDomain Status: clientDeleteProhibited (https://www.icann.org/epp#clientDeleteProhibited)\nDomain Status: serverUpdateProhibited (https://www.icann.org/epp#serverUpdateProhibited)\nDomain Status: serverTransferProhibited (https://www.icann.org/epp#serverTransferProhibited)\nDomain Status: serverDeleteProhibited (https://www.icann.org/epp#serverDeleteProhibited)\nRegistrant Organization: Google LLC\nRegistrant Country: US\nRegistrant Email: Select Request Email Form at https://domains.markmonitor.com/whois/google.com\nTech Email: Select Request Email Form at https://domains.markmonitor.com/whois/google.com\nName Server: ns1.google.com\nName Server: ns4.google.com\nName Server: ns3.google.com\nName Server: ns2.google.com\nDNSSEC: unsigned\nURL of the ICANN WHOIS Data Problem Reporting System: http://wdprs.internic.net/\n>>> Last update of WHOIS database: 2026-07-23T08:17:26+0000 <<<\n\nFor more information on WHOIS status codes, please visit:\n  https://www.icann.org/resources/pages/epp-status-codes\n\nIf you wish to contact this domain’s Registrant or Technical\ncontact, and such email address is not visible above, you may do so via our web\nform, pursuant to ICANN’s Temporary Specification. To verify that you are not a\nrobot, please enter your email address to receive a link to a page that\nfacilitates email communication with the relevant contact(s).\n\nWeb-based WHOIS:\n  https://domains.markmonitor.com/whois/contact/google.com\n\nIf you have a legitimate interest in viewing the non-public WHOIS details, send\nyour request and the reasons for your request to whoisrequest@markmonitor.com\nand specify the domain name in the subject line. We will review that request and\nmay ask for supporting documentation and explanation.\n\nThe data in MarkMonitor’s WHOIS database is provided for information purposes,\nand to assist persons in obtaining information about or related to a domain\nname’s registration record. While MarkMonitor believes the data to be accurate,\nthe data is provided \"as is\" with no guarantee or warranties regarding its\naccuracy.\n\nBy submitting a WHOIS query, you agree that you will use this data only for\nlawful purposes and that, under no circumstances will you use this data to:\n  (1) allow, enable, or otherwise support the transmission by email, telephone,\nor facsimile of mass, unsolicited, commercial advertising, or spam; or\n  (2) enable high volume, automated, or electronic processes that send queries,\ndata, or email to MarkMonitor (or its systems) or the domain name contacts (or\nits systems).\n\nMarkMonitor reserves the right to modify these terms at any time.\n\nBy submitting this query, you agree to abide by this policy.\n\nMarkMonitor Domain Management(TM)\nProtecting companies and consumers in a digital world.\n\nVisit MarkMonitor at https://www.markmonitor.com\nContact us at +1.8007459229\nIn Europe, at +44.02032062220\n--"
                    registry_data:
                      domain_name: GOOGLE.COM
                      query_time: '2026-07-23 08:22:18'
                      whois_server: whois.verisign-grs.com
                      domain_registered: 'yes'
                      create_date: '1997-09-15'
                      update_date: '2019-09-09'
                      expiry_date: '2028-09-14'
                      domain_registrar:
                        iana_id: '292'
                        registrar_name: MarkMonitor Inc
                        whois_server: whois.markmonitor.com
                        website_url: http://www.markmonitor.com
                      name_servers:
                      - ns1.google.com
                      - ns2.google.com
                      - ns3.google.com
                      - ns4.google.com
                      domain_status:
                      - clientupdateprohibited
                      - clientdeleteprohibited
                      - clienttransferprohibited
                      - serverdeleteprohibited
                      - serverupdateprohibited
                      - servertransferprohibited
                      whois_raw_registery: "\nDomain Name: GOOGLE.COM\n   Registry Domain ID: 2138514_DOMAIN_COM-VRSN\n   Registrar WHOIS Server: whois.markmonitor.com\n   Registrar URL: http://www.markmonitor.com\n   Updated Date: 2019-09-09T15:39:04Z\n   Creation Date: 1997-09-15T04:00:00Z\n   Registry Expiry Date: 2028-09-14T04:00:00Z\n   Registrar: MarkMonitor Inc.\n   Registrar IANA ID: 292\n   Registrar Abuse Contact Email: abusecomplaints@markmonitor.com\n   Registrar Abuse Contact Phone: +1.2086851750\n   Domain Status: clientDeleteProhibited https://icann.org/epp#clientDeleteProhibited\n   Domain Status: clientTransferProhibited https://icann.org/epp#clientTransferProhibited\n   Domain Status: clientUpdateProhibited https://icann.org/epp#clientUpdateProhibited\n   Domain Status: serverDeleteProhibited https://icann.org/epp#serverDeleteProhibited\n   Domain Status: serverTransferProhibited https://icann.org/epp#serverTransferProhibited\n   Domain Status: serverUpdateProhibited https://icann.org/epp#serverUpdateProhibited\n   Name Server: NS1.GOOGLE.COM\n   Name Server: NS2.GOOGLE.COM\n   Name Server: NS3.GOOGLE.COM\n   Name Server: NS4.GOOGLE.COM\n   DNSSEC: unsigned\n   URL of the ICANN Whois Inaccuracy Complaint Form: https://www.icann.org/wicf/\n>>> Last update of whois database: 2026-07-23T08:22:08Z <<<\n\nFor more information on Whois status codes, please visit https://icann.org/epp\n\nNOTICE: The expiration date displayed in this record is the date the\nregistrar's sponsorship of the domain name registration in the registry is\ncurrently set to expire. This date does not necessarily reflect the expiration\ndate of the domain name registrant's agreement with the sponsoring\nregistrar.  Users may consult the sponsoring registrar's Whois database to\nview the registrar's reported date of expiration for this registration.\n\nTERMS OF USE: You are not authorized to access or query our Whois\ndatabase through the use of electronic processes that are high-volume and\nautomated except as reasonably necessary to register domain names or\nmodify existing registrations; the Data in VeriSign Global Registry\nServices' (\"VeriSign\") Whois database is provided by VeriSign for\ninformation purposes only, and to assist persons in obtaining information\nabout or related to a domain name registration record. VeriSign does not\nguarantee its accuracy. By submitting a Whois query, you agree to abide\nby the following terms of use: You agree that you may use this Data only\nfor lawful purposes and that under no circumstances will you use this Data\nto: (1) allow, enable, or otherwise support the transmission of mass\nunsolicited, commercial advertising or solicitations via e-mail, telephone,\nor facsimile; or (2) enable high volume, automated, electronic processes\nthat apply to VeriSign (or its computer systems). The compilation,\nrepackaging, dissemination or other use of this Data is expressly\nprohibited without the prior written consent of VeriSign. You agree not to\nuse electronic processes that are automated and high-volume to access or\nquery the Whois database except as reasonably necessary to register\ndomain names or modify existing registrations. VeriSign reserves the right\nto restrict your access to the Whois database in its sole discretion to ensure\noperational stability.  VeriSign may restrict or terminate your access to the\nWhois database for failure to abide by these terms of use. VeriSign\nreserves the right to modify these terms at any time.\n\nThe Registry database contains ONLY .COM, .NET, .EDU domains and\nRegistrars."
                unregisteredDomain:
                  summary: Unregistered domain
                  value:
                    status: true
                    domain_name: example.xn--tckwe
                    query_time: '2026-07-23 08:03:00'
                    whois_server: https://tld-rdap.verisign.com/xn--tckwe/v1/
                    domain_registered: 'no'
        '206':
          description: Partial Content — The response contains partial data because an error occurred while processing the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                partialContent:
                  summary: Partial WHOIS data returned
                  value:
                    timestamp: '2025-08-14T09:25:32.271Z'
                    status: 206
                    error: Partial Content
                    message: The response contains partial data due to an error while processing the request.
                    path: /v2.0/domain/whois/live
        '400':
          description: Bad Request — Missing or invalid domainName parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missingDomain:
                  summary: Missing domainName parameter
                  value:
                    error: Invalid Param Exception
                    message: please pass correct parameters
                    path: /v2.0/domain/whois/live
                    status: 400
                    timestamp: '2026-07-23T08:04:19.197Z'
                invalidDomain:
                  summary: Malformed domain name
                  value:
                    timestamp: '2026-07-23T08:04:18.733Z'
                    status: 400
                    error: Invalid Param Exception
                    message: 'Please pass domain param correct value [For Technical Support: support@whoisfreaks.com]'
                    path: /v2.0/whois/live
        '403':
          description: Forbidden — Domain extension not supported for live WHOIS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                domainExtensionNotSupported:
                  summary: Unsupported domain extension
                  value:
                    timestamp: '2026-07-23T08:11:12.380Z'
                    status: 403
                    error: Not Supported Domain extension
                    message: We are not providing the whois of this domain extension (local)
                    path: /v2.0/whois/live
  /domain/whois/history:
    servers:
    - url: https://api.apifreaks.com/v1.0
      description: WHOIS History API Server
    get:
      tags:
      - WHOIS APIs
      summary: Retrieve the complete historical WHOIS record timeline for a domain name
      description: Returns every recorded WHOIS snapshot for the specified domain in chronological order, including registrar, contact, name server, and status changes over time.
      operationId: whoisHistoryLookup
      parameters:
      - name: format
        in: query
        required: false
        description: Format of the response.
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: domainName
        in: query
        required: true
        description: Domain name to retrieve historical WHOIS records for (e.g. example.com).
        schema:
          type: string
      responses:
        '200':
          description: Successful historical WHOIS response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainWhoisHistoryLookupResponse'
              examples:
                typicalSuccess:
                  summary: Typical successful response
                  value:
                    status: true
                    whois: historical
                    total_records: '18'
                    whois_domains_historical:
                    - num: 1
                      status: true
                      domain_name: example.com
                      query_time: '2022-04-28 12:56:13'
                      create_date: '1992-01-01'
                      update_date: '2021-08-14'
                      expiry_date: '2022-08-13'
                    - num: 18
                      status: true
                      domain_name: example.com
                      query_time: '2026-07-23 07:47:26'
                      whois_server: whois.verisign-grs.com
                      domain_registered: 'yes'
                      create_date: '1992-01-01'
                      update_date: '2026-01-16'
                      expiry_date: '2026-08-13'
                      name_servers:
                      - elliott.ns.cloudflare.com
                      - hera.ns.cloudflare.com
                      whois_raw_domain: '

                        % IANA WHOIS server

                        % for more information on IANA, visit http://www.iana.org

                        % This query returned 1 object


                        domain:       EXAMPLE.COM


                        organisation: Internet Assigned Numbers Authority


                        created:      1992-01-01

                        source:       IANA'
                      registry_data:
                        domain_name: EXAMPLE.COM
                        query_time: '2026-07-23 07:47:25'
                        whois_server: whois.verisign-grs.com
                        domain_registered: 'yes'
                        create_date: '1995-08-14'
                        update_date: '2026-01-16'
                        expiry_date: '2026-08-13'
                        domain_registrar:
                          iana_id: '376'
                          registrar_name: RESERVED-Internet Assigned Numbers Authority
                          whois_server: whois.iana.org
                          website_url: http://res-dom.iana.org
                        name_servers:
                        - elliott.ns.cloudflare.com
                        - hera.ns.cloudflare.com
                        domain_status:
                        - clientupdateprohibited
                        - clientdeleteprohibited
                        - clienttransferprohibited
                        whois_raw_registery: "\nDomain Name: EXAMPLE.COM\n   Registry Domain ID: 2336799_DOMAIN_COM-VRSN\n   Registrar WHOIS Server: whois.iana.org\n   Registrar URL: http://res-dom.iana.org\n   Updated Date: 2026-01-16T18:26:50Z\n   Creation Date: 1995-08-14T04:00:00Z\n   Registry Expiry Date: 2026-08-13T04:00:00Z\n   Registrar: RESERVED-Internet Assigned Numbers Authority\n   Registrar IANA ID: 376\n   Registrar Abuse Contact Email:\n   Registrar Abuse Contact Phone:\n   Domain Status: clientDeleteProhibited https://icann.org/epp#clientDeleteProhibited\n   Domain Status: clientTransferProhibited https://icann.org/epp#clientTransferProhibited\n   Domain Status: clientUpdateProhibited https://icann.org/epp#clientUpdateProhibited\n   Name Server: ELLIOTT.NS.CLOUDFLARE.COM\n   Name Server: HERA.NS.CLOUDFLARE.COM\n   DNSSEC: signedDelegation\n   DNSSEC DS Data: 2371 13 2 C988EC423E3880EB8DD8A46FE06CA230EE23F35B578D64E78B29C3E1C83D245A\n   URL of the ICANN Whois Inaccuracy Complaint Form: https://www.icann.org/wicf/\n>>> Last update of whois database: 2026-07-23T08:16:23Z <<<\n\nFor more information on Whois status codes, please visit https://icann.org/epp\n\nNOTICE: The expiration date displayed in this record is the date the\nregistrar's sponsorship of the domain name registration in the registry is\ncurrently set to expire. This date does not necessarily reflect the expiration\ndate of the domain name registrant's agreement with the sponsoring\nregistrar.  Users may consult the sponsoring registrar's Whois database to\nview the registrar's reported date of expiration for this registration.\n\nTERMS OF USE: You are not authorized to access or query our Whois\ndatabase through the use of electronic processes that are high-volume and\nautomated except as reasonably necessary to register domain names or\nmodify existing registrations; the Data in VeriSign Global Registry\nServices' (\"VeriSign\") Whois database is provided by VeriSign for\ninformation purposes only, and to assist persons in obtaining information\nabout or related to a domain name registration record. VeriSign does not\nguarantee its accuracy. By submitting a Whois query, you agree to abide\nby the following terms of use: You agree that you may use this Data only\nfor lawful purposes and that under no circumstances will you use this Data\nto: (1) allow, enable, or otherwise support the transmission of mass\nunsolicited, commercial advertising or solicitations via e-mail, telephone,\nor facsimile; or (2) enable high volume, automated, electronic processes\nthat apply to VeriSign (or its computer systems). The compilation,\nrepackaging, dissemination or other use of this Data is expressly\nprohibited without the prior written consent of VeriSign. You agree not to\nuse electronic processes that are automated and high-volume to access or\nquery the Whois database except as reasonably necessary to register\ndomain names or modify existing registrations. VeriSign reserves the right\nto restrict your access to the Whois database in its sole discretion to ensure\noperational stability.  VeriSign may restrict or terminate your access to the\nWhois database for failure to abide by these terms of use. VeriSign\nreserves the right to modify these terms at any time.\n\nThe Registry database contains ONLY .COM, .NET, .EDU domains and\nRegistrars."
        '400':
          description: Bad Request — Invalid domainName parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalidDomain:
                  summary: Malformed domain name
                  value:
                    timestamp: '2026-07-23T07:47:39.105Z'
                    status: 400
                    error: Invalid Param Exception
                    message: 'Please pass domain param correct value [For Technical Support: support@whoisfreaks.com]'
                    path: /v1.0/whois
        '404':
          description: Not Found — No historical WHOIS records for the domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                recordNotFound:
                  summary: No historical records available
                  value:
                    timestamp: '2026-07-23T07:47:40.893Z'
                    status: 404
                    error: Record Not Found
                    message: Record not found
                    path: /v1.0/whois
  /domain/whois/reverse:
    servers:
    - url: https://api.apifreaks.com/v1.0
      description: Reverse WHOIS API Server
    get:
      tags:
      - WHOIS APIs
      summary: Search domains by owner name, email, company, or keyword
      description: Performs a reverse WHOIS search returning matching domains with registration details. Use mode=default for full WHOIS data or mode=mini for a condensed summary. When mode=default, each item in whois_domains_historical matches the ReverseWhoisDomainDefault schema (full registrar, contacts, name servers, status, and registry data). When mode=mini, each item matches the ReverseWhoisDomainMini schema (domain name, create/update/expiry dates, owner name, email, and company only).
      operationId: reverseWhoisLookup
      parameters:
      - name: format
        in: query
        required: false
        description: Format of the response.
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: keyword
        in: query
        required: false
        description: Keyword to search for in domain names (case-insensitive pattern matching).
        schema:
          type: string
      - name: email
        in: query
        required: false
        description: Email address to search for in registrant records (case-insensitive exact or regex match; * wildcard supported).
        schema:
          type: string
      - name: owner
        in: query
        required: false
        description: Registrant or owner name to search for (full-text phrase matching).
        schema:
          type: string
      - name: company
        in: query
        required: false
        description: Organization or company name to search for (full-text phrase matching).
        schema:
          type: string
      - name: exact
        in: query
        required: false
        description: Set to true to return only exact matches for keyword, owner, or company. Default is false.
        schema:
          type: boolean
          default: false
      - name: mode
        in: query
        required: false
        description: Response detail level. 'default' returns full WHOIS data per domain; 'mini' returns only key fields.
        schema:
          type: string
          enum:
          - default
          - mini
          default: default
      - name: page
        in: query
        required: false
        description: Page number for paginated results.
        schema:
          type: integer
          default: 1
      responses:
        '200':
          description: Successful reverse WHOIS search response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReverseWhoisResponse'
              examples:
                defaultMode:
                  summary: Default mode (full WHOIS data)
                  value:
                    total_Result: 8
                    total_Pages: 1
                    current_Page: 1
                    whois_domains_historical:
                    - num: 1
                      status: true
                      domain_name: ipgeolocationdatabase.com
                      query_time: '2026-05-21 04:00:28'
                      create_date: '2010-04-14'
                      update_date: '2026-05-19'
                      expiry_date: '2027-04-14'
                      domain_registrar:
                        iana_id: '269'
                        registrar_name: Key-Systems GmbH
                        whois_server: whois.rrpproxy.net
                        website_url: http://www.key-systems.net
                        email_address: abuse@key-systems.net
                        phone_number: '+4968949396850'
                      registrant_contact:
                        id: Not Available From Registry
                        name: On behalf of ipgeolocationdatabase.com OWNER
                        company: c/o whoisproxy.com
                        city: Alexandria
                        state: VA
                        zip_code: '22314'
                        country_name: United States
                        country_code: US
                        email_address: 720ed14de67db24c4eb07295ecae369f9f1bfe8a4dd5cd0c51f0e4754ee24895@ipgeolocationdatabase.com.whoisproxy.org
                        phone: '+6448319528'
                      name_servers:
                      - dale.ns.cloudflare.com
                      - olga.ns.cloudflare.com
                      domain_status:
                      - clienttransferprohibited
                      whois_raw_domain: 'Domain Name: ipgeolocationdatabase.com

                        Registry Domain ID: ...

                        Registrar WHOIS Server: whois.rrpproxy.net

                        ...'
                      registry_data:
                        domain_name: ipgeolocationdatabase.com
                        domain_registrar:
                          registrar_name: Key-Systems GmbH
                        name_servers:
                        - dale.ns.cloudflare.com
                        - olga.ns.cloudflare.com
                miniMode:
                  summary: Mini mode (condensed fields)
                  value:
                    total_Result: 8
                    total_Pages: 1
                    current_Page: 1
                    whois_domains_historical:
                    - num: 1
                      domain_name: ipgeolocationdatabase.com
                      create_date: '2010-04-14'
                      update_date: '2026-05-19'
                      expiry_date: '2027-04-14'
                      name: On behalf of ipgeolocationdatabase.com OWNER
                      email: 720ed14de67db24c4eb07295ecae369f9f1bfe8a4dd5cd0c51f0e4754ee24895@ipgeolocationdatabase.com.whoisproxy.org
                      company_name: c/o whoisproxy.com
        '400':
          description: Bad Request -- Missing or invalid search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missingParam:
                  summary: Missing required search parameter
                  value:
                    timestamp: '2025-08-14T10:01:46.601Z'
                    status: 400
                    error: Invalid Param Exception
                    message: Please pass param value.
                    path: /v1.0/domain/whois/reverse
        '404':
          description: Not Found -- No domains match the search criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                recordNotFound:
                  summary: No matching domains found
                  value:
                    timestamp: '2025-08-14T10:01:54.778Z'
                    status: 404
                    error: Record not found
                    message: Record not found.
                    path: /v1.0/domain/whois/reverse
  /ip/whois/live:
    servers:
    - url: https://api.apifreaks.com/v1.0
      description: IP WHOIS Lookup API Server
    get:
      tags:
      - WHOIS APIs
      summary: Retrieve WHOIS registration and ownership data for an IP address
      description: Returns WHOIS details for an IPv4 or IPv6 address including IP range, organization, contacts, routes, and raw WHOIS output.
      operationId: lookupIpWhois
      parameters:
      - name: format
        in: query
        required: false
        description: Format of the response.
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: ip
        in: query
        required: true
        description: IPv4 or IPv6 address to look up.
        schema:
          type: string
      responses:
        '200':
          description: Successful WHOIS lookup response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpWhoisResponse'
              examples:
                typicalSuccess:
                  summary: Typical successful response
                  value:
                    status: true
                    ip_address: 8.8.8.8
                    query_time: '2026-07-23 08:23:30'
                    whois_server: whois.arin.net
                    inet_nums:
                    - start_ip: 8.8.8.0
                      end_ip: 8.8.8.255
                      cidr:
                      - 8.8.8.0/24
                      net_name: GOGL
                      net_handle: NET-8-8-8-0-2
                      status: Direct Allocation
                      organization: Google LLC (GOGL)
                      date_created: '2023-12-28'
                      date_updated: '2023-12-28'
                      source: https://rdap.arin.net/registry/ip/8.8.8.0
                      parents:
                      - NET8 (NET-8-0-0-0-0)
                    organization:
                      handle: GOGL
                      name: Google LLC
                      address:
                      - 1600 Amphitheatre Parkway
                      - Mountain View
                      - CA
                      - '94043'
                      - US
                      street: Amphitheatre Parkway
                      city: Mountain View
                      state: CA
                      zip_code: '94043'
                      country:
                      - US
                      date_created: '2000-03-30'
                      date_updated: '2019-10-31'
                      source: https://rdap.arin.net/registry/entity/GOGL
                    technical_contacts:
                    - handle: ZG39-ARIN
                      name: Google LLC
                      email:
                      - arin-contact@google.com
                      phone:
                      - +1-650-253-0000
                      source: https://rdap.arin.net/registry/entity/ZG39-ARIN
                    abuse_contacts:
                    - handle: ABUSE5250-ARIN
                      name: Abuse
                      email:
                      - network-abuse@google.com
                      phone:
                      - +1-650-253-0000
                      source: https://rdap.arin.net/registry/entity/ABUSE5250-ARIN
                    routes:
                    - source: https://rdap.arin.net/registry/ip/8.8.8.0
                    whois_raw_response: "\n#\n# ARIN WHOIS data and services are subject to the Terms of Use\n# available at: https://www.arin.net/resources/registry/whois/tou/\n#\n# If you see inaccuracies in the results, please report at\n# https://www.arin.net/resources/registry/whois/inaccuracy_reporting/\n#\n# Copyright 1997-2026, American Registry for Internet Numbers, Ltd.\n#\n\n\nNetRange:       8.8.8.0 - 8.8.8.255\nCIDR:           8.8.8.0/24\nNetName:        GOGL\nNetHandle:      NET-8-8-8-0-2\nParent:         NET8 (NET-8-0-0-0-0)\nNetType:        Direct Allocation\nOriginAS:       \nOrganization:   Google LLC (GOGL)\nRegDate:        2023-12-28\nUpdated:        2023-12-28\nRef:            https://rdap.arin.net/registry/ip/8.8.8.0\n\n\n\nOrgName:        Google LLC\nOrgId:          GOGL\nAddress:        1600 Amphitheatre Parkway\nCity:           Mountain View\nStateProv:      CA\nPostalCode:     94043\nCountry:        US\nRegDate:        2000-03-30\nUpdated:        2019-10-31\nComment:        Please note that the recommended way to file abuse complaints are located in the following links. \nComment:        \nComment:        To report abuse and illegal activity: https://www.google.com/contact/\nComment:        \nComment:        For legal requests: http://support.google.com/legal \nComment:        \nComment:        Regards, \nComment:        The Google Team\nRef:            https://rdap.arin.net/registry/entity/GOGL\n\n\nOrgAbuseHandle: ABUSE5250-ARIN\nOrgAbuseName:   Abuse\nOrgAbusePhone:  +1-650-253-0000 \nOrgAbuseEmail:  network-abuse@google.com\nOrgAbuseRef:    https://rdap.arin.net/registry/entity/ABUSE5250-ARIN\n\nOrgTechHandle: ZG39-ARIN\nOrgTechName:   Google LLC\nOrgTechPhone:  +1-650-253-0000 \nOrgTechEmail:  arin-contact@google.com\nOrgTechRef:    https://rdap.arin.net/registry/entity/ZG39-ARIN\n\n\n#\n# ARIN WHOIS data and services are subject to the Terms of Use\n# available at: https://www.arin.net/resources/registry/whois/tou/\n#\n# If you see inaccuracies in the results, please report at\n# https://www.arin.net/resources/registry/whois/inaccuracy_reporting/\n#\n# Copyright 1997-2026, American Registry for Internet Numbers, Ltd.\n#\n"
        '206':
          description: Partial Content -- The WHOIS server returned an incomplete response. Some fields may be missing or truncated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                partialResponse:
                  summary: Partial WHOIS response
                  value:
                    timestamp: '2025-08-14T09:25:32.271Z'
                    status: 206
                    error: Partial Response
                    message: Partial response due to an error occurred while processing the request.
                    path: /v1.0/ip/whois/live
        '400':
          description: Bad Request -- Missing or invalid ip parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missingIp:
                  summary: Missing ip parameter
                  value:
                    error: Invalid Param Exception
                    message: please pass correct parameters
                    path: /v1.0/ip/whois/live
                    status: 400
                    timestamp: '2026-07-23T07:50:28.230Z'
                invalidIp:
                  summary: Invalid IP address format
                  value:
                    timestamp: '2026-07-23T08:03:38.179Z'
                    status: 400
                    error: Input parameter is not valid
                    message: Request-param 'ip' (not-an-ip) is not an IP address
                    path: /v1.0/ip-whois
components:
  schemas:
    Contacts:
      type: object
      description: Direct contact addresses collected from the ASN's WHOIS record.
      required:
      - emailContacts
      - abuseContacts
      properties:
        emailContacts:
          type: array
          description: General contact email addresses for the ASN.
          items:
            type: string
        abuseContacts:
          type: array
          description: Abuse-reporting contact email addresses for the ASN.
          items:
            type: string
    RegistryData:
      type: object
      description: Normalized registry-level WHOIS data. Contains the same structure as the top-level response but reflects data from the registry's own WHOIS server rather than the registrar's.
      required: []
      properties:
        domain_name:
          type:
          - string
          - 'null'
          description: Domain name as recorded by the registry.
        query_time:
          type:
          - string
          - 'null'
          description: Timestamp of the registry WHOIS query (YYYY-MM-DD HH:mm:ss).
        whois_server:
          type:
          - string
          - 'null'
          description: Registry WHOIS server that provided this data.
        domain_registered:
          type:
          - string
          - 'null'
          enum:
          - 'yes'
          - 'no'
          - restricted
          description: Registration status from the registry.
        create_date:
          type:
          - string
          - 'null'
          format: date
          description: Domain creation date as recorded by the registry (YYYY-MM-DD).
        update_date:
          type:
          - string
          - 'null'
          format: date
          description: Last update date as recorded by the registry (YYYY-MM-DD).
        expiry_date:
          type:
          - string
          - 'null'
          format: date
          description: Domain expiry date as recorded by the registry (YYYY-MM-DD).
        domain_registrar:
          $ref: '#/components/schemas/DomainRegistrar_3'
        name_servers:
          type:
          - array
          - 'null'
          description: List of name servers as recorded by the registry.
          items:
            type: string
        domain_status:
          type:
          - array
          - 'null'
          description: List of domain status codes from the registry.
          items:
            type: string
        whois_raw_registery:
          type:
          - string
          - 'null'
          description: Raw WHOIS output from the registry server.
    DomainRegistrar_2:
      type: object
      description: Registrar of record at the time of the snapshot.
      properties:
        iana_id:
          type: string
          description: IANA registrar ID.
        registrar_name:
          type: string
          description: Registered name of the registrar.
        whois_server:
          type: string
          description: WHOIS server operated by the registrar.
        website_url:
          type: string
          description: Registrar's website URL.
        email_address:
          type: string
          description: Registrar abuse or contact email address.
        phone_number:
          type: string
          description: Registrar contact phone number.
    AutNum:
      type: object
      description: Parsed autnum (Autonomous System Number) registry object and its routing policy attributes.
      required:
      - aut_num
      - as_handle
      - as_name
      - tech_contacts
      - abuse_contacts
      - date_updated
      - source
      properties:
        aut_num:
          type: string
          description: ASN identifier as recorded on the autnum object.
        as_handle:
          type: string
          description: Registry handle for the autnum object (e.g. AS15).
        as_name:
          type: string
          description: Registered name for the autnum object.
        description:
          type: array
          description: Free-text description lines attached to the autnum object.
          items:
            type: string
        country:
          type: string
          description: ISO 3166-1 alpha-2 country code recorded on the autnum object.
        status:
          type: string
          description: Autnum object status as recorded by the registry.
        member_of:
          type: array
          description: Route-set or as-set objects this ASN is a member of.
          items:
            type: string
        import_via:
          type: array
          description: BGP import-via routing policy statements.
          items:
            type: string
        import:
          type: array
          description: BGP import routing policy statements.
          items:
            type: string
        mp_import:
          type: array
          description: Multiprotocol BGP import routing policy statements (mp-import).
          items:
            type: string
        export_via:
          type: array
          description: BGP export-via routing policy statements.
          items:
            type: string
        export:
          type: array
          description: BGP export routing policy statements.
          items:
            type: string
        mp_export:
          type: array
          description: Multiprotocol BGP export routing policy statements (mp-export).
          items:
            type: string
        default:
          type: array
          description: BGP default routing policy statements.
          items:
            type: string
        mp_default:
          type: array
          description: Multiprotocol BGP default routing policy statements (mp-default).
          items:
            type: string
        organization:
          type: string
          description: Registry handle of the organization that holds the autnum object.
        sponsoring_organization:
          type: string
          description: Registry handle of the sponsoring organization, when applicable.
        admin_contacts:
          type: array
          description: Registry handles of administrative contacts for the autnum object.
          items:
            type: string
        tech_contacts:
          type: array
          description: Registry handles of technical contacts for the autnum object.
          items:
            type: string
        abuse_contacts:
          type: array
          description: Registry handles of abuse contacts for the autnum object.
          items:
            type: string
        date_created:
          type: string
          format: date
          description: Date the autnum object was first registered.
        date_updated:
          type: string
          format: date
          description: Date the autnum object was last updated.
        source:
          type: string
          description: URL of the registry record this autnum object was parsed from.
    ParsedWhoisResponse:
      type: object
      description: Structured breakdown of the raw WHOIS response into individual records and contacts.
      required:
      - status
      - whois_server
      - aut_nums
      - organization
      - technical_contacts
      - abuse_contacts
      properties:
        status:
          type: boolean
          description: true if the WHOIS response was parsed successfully.
        whois_server:
          type: string
          description: WHOIS server that returned the raw response (e.g. whois.arin.net).
        aut_nums:
          type: array
          description: Parsed autnum object(s) for the requested ASN.
          items:
            $ref: '#/components/schemas/AutNum'
        organization:
          $ref: '#/components/schemas/Organization'
        technical_contacts:
          type: array
          description: Parsed technical contact records for the ASN.
          items:
            $ref: '#/components/schemas/WhoisContact'
        abuse_contacts:
          type: array
          description: Parsed abuse contact records for the ASN.
          items:
            $ref: '#/components/schemas/WhoisContact'
        whois_raw_response:
          type: string
          description: Unparsed raw WHOIS text, when returned separately from whoisResponse.
        r_whois_raw_response:
          type: string
          description: Raw referral WHOIS (rwhois) text, when the registry delegates to a referral server.
        query_time:
          type: string
          format: date-time
          description: Timestamp when the WHOIS query was executed.
    AsnRelation:
      type: object
      description: A related Autonomous System (upstream provider, downstream customer, or BGP peer).
      required:
      - asNumber
      properties:
        asNumber:
          type: string
          description: ASN of the related Autonomous System, without the 'AS' prefix.
        description:
          type: string
          description: Free-text description of the related Autonomous System, when published.
        country:
          type: string
          description: ISO 3166-1 alpha-2 country code of the related Autonomous System, when published.
    WhoisContactRef:
      type: object
      description: Contact person or role object with handle, name, email, phone, and source reference.
      required:
      - handle
      - source
      properties:
        handle:
          type: string
          description: Handle or unique identifier of this contact in WHOIS data.
        name:
          type:
          - string
          - 'null'
          description: Name of the contact person or role.
        address:
          type:
          - array
          - 'null'
          description: Address lines for this contact.
          items:
            type: string
        street:
          type:
          - string
          - 'null'
          description: Parsed street address from the address field.
        city:
          type:
          - string
          - 'null'
          description: Parsed city from the address field.
        district:
          type:
          - string
          - 'null'
          description: Parsed district from the address field.
        state:
          type:
          - string
          - 'null'
          description: Parsed state from the address field.
        zip_code:
          type:
          - string
          - 'null'
          description: Parsed ZIP code from the address field.
        country:
          type:
          - string
          - 'null'
          description: Parsed country from the address field.
        email:
          type:
          - array
          - 'null'
          description: Email addresses for this contact.
          items:
            type: string
        abuse_mailbox:
          type:
          - array
          - 'null'
          description: Abuse mailbox email addresses for this contact.
          items:
            type: string
        phone:
          type:
          - array
          - 'null'
          description: Phone numbers for this contact.
          items:
            type: string
        fax_no:
          type:
          - array
          - 'null'
          description: Fax numbers for this contact.
          items:
            type: string
        organizations:
          type:
          - array
          - 'null'
          description: Handles of organization objects managing this contact.
          items:
            type: string
        admin_contacts:
          type:
          - array
          - 'null'
          description: Handles of admin persons or roles linked to this contact.
          items:
            type: string
        tech_contacts:
          type:
          - array
          - 'null'
          description: Handles of technical persons or roles linked to this contact.
          items:
            type: string
        remarks:
          type:
          - array
          - 'null'
          description: Remarks for this contact object.
          items:
            type: string
        notify:
          type:
          - array
          - 'null'
          description: Notify email addresses for this contact object.
          items:
            type: string
        mnt_by:
          type:
          - array
          - 'null'
          description: Maintainer handles for this contact object.
          items:
            type: string
        mnt_ref:
          type:
          - array
          - 'null'
          description: Referenced maintainer handles for this contact object.
          items:
            type: string
        date_created:
          type:
          - string
          - 'null'
          format: date
          description: Registration date of this contact object (YYYY-MM-DD).
        date_updated:
          type:
          - string
          - 'null'
          format: date
          description: Last update date of this contact object (YYYY-MM-DD).
        source:
          type: string
          description: WHOIS data source (RIR registry URL) for this object.
    DomainWhoisHistoryRecord:
      type: object
      description: A single historical WHOIS snapshot captured at a point in time. Early snapshots may omit fields the registry did not publish at that time.
      required:
      - num
      - status
      - domain_name
      - query_time
      - create_date
      - update_date
      - expiry_date
      properties:
        num:
          type: integer
          description: 1-based sequence number of this record within the historical timeline.
        status:
          type: boolean
          enum:
          - true
          description: Always true for a returned historical record.
        domain_name:
          type: string
          description: Domain name this snapshot was recorded for.
        query_time:
          type: string
          description: Timestamp when this historical snapshot was captured.
        whois_server:
          type: string
          description: WHOIS server that provided this snapshot's domain-level data, when recorded.
        domain_registered:
          type: string
          enum:
          - 'yes'
          - 'no'
          - restricted
          description: Domain registration status at the time of this snapshot, when recorded.
        create_date:
          type: string
          format: date
          description: Date the domain was originally registered, as known at the time of this snapshot.
        update_date:
          type: string
          format: date
          description: Date the domain registration was last updated, as of this snapshot.
        expiry_date:
          type: string
          format: date
          description: Date the domain registration was set to expire, as of this snapshot.
        domain_registrar:
          $ref: '#/components/schemas/DomainRegistrar_2'
          description: Registrar of record for the domain as of this snapshot.
        reseller_contact:
          $ref: '#/components/schemas/WhoisContactDetail_2'
          description: Reseller contact details, when the domain was registered through a reseller, as published in this snapshot.
        registrant_contact:
          $ref: '#/components/schemas/WhoisContactDetail_2'
          description: Domain registrant (owner) contact details as published in this snapshot.
        administrative_contact:
          $ref: '#/components/schemas/WhoisContactDetail_2'
          description: Administrative contact details as published in this snapshot.
        technical_contact:
          $ref: '#/components/schemas/WhoisContactDetail_2'
          description: Technical contact details as published in this snapshot.
        billing_contact:
          $ref: '#/components/schemas/WhoisContactDetail_2'
          description: Billing contact details as published in this snapshot.
        name_servers:
          type: array
          description: Name servers recorded for the domain as of this snapshot.
          items:
            type: string
        domain_status:
          type: array
          description: EPP domain status codes recorded as of this snapshot.
          items:
            type: string
        whois_raw_domain:
          type: string
          description: Raw WHOIS text for the domain as of this snapshot.
        registry_data:
          $ref: '#/components/schemas/DomainWhoisHistoryRegistryData'
    DomainRegistrar_3:
      type: object
      description: Registrar information for the domain, including IANA ID, name, WHOIS/RDAP servers, website, and contact details.
      required: []
      properties:
        iana_id:
          type:
          - string
          - 'null'
          description: IANA (Internet Assigned Numbers Authority) ID of the registrar.
        status:
          type:
          - string
          - 'null'
          description: Accreditation status of the registrar (e.g., 'accredited').
        registrar_name:
          type:
          - string
          - 'null'
          description: Name of the registrar managing the domain.
        normalized_name:
          type:
          - string
          - 'null'
          description: Normalized (lowercase, stripped) registrar name.
        whois_server:
          type:
          - string
          - 'null'
          description: WHOIS server of the registrar.
        rdap_server:
          type:
          - string
          - 'null'
          format: uri
          description: RDAP (Registration Data Access Protocol) server URL of the registrar.
        website_url:
          type:
          - string
          - 'null'
          format: uri
          description: Website URL of the registrar.
        email_address:
          type:
          - string
          - 'null'
          description: Contact or abuse email address of the registrar.
        phone_number:
          type:
          - string
          - 'null'
          description: Contact phone number of the registrar.
    Organization:
      type: object
      description: Parsed organization (org) registry object that holds the ASN.
      properties:
        handle:
          type: string
          description: Registry handle for the organization object.
        name:
          type: string
          description: Registered name of the organization.
        address:
          type: array
          description: Address lines for the organization, as published by the registry.
          items:
            type: string
        street:
          type: string
          description: Street address of the organization, when published separately.
        city:
          type: string
          description: City of the organization, when published separately.
        state:
          type: string
          description: State or province of the organization, when published separately.
        zip_code:
          type: string
          description: Postal/ZIP code of the organization, when published separately.
        country:
          type: array
          description: Country line(s) of the organization address, as published by the registry.
          items:
            type: string
        addressCountry:
          type: string
          description: ISO 3166-1 alpha-2 country code derived from the organization's address.
        date_created:
          type: string
          format: date
          description: Date the organization object was first registered.
        date_updated:
          type: string
          format: date
          description: Date the organization object was last updated.
        source:
          type: string
          description: URL of the registry record this organization object was parsed from.
    RouteObject:
      type: object
      description: A single IPv4 or IPv6 route object (CIDR block) advertised by the ASN.
      required:
      - route
      - origin
      - originName
      - isp
      - numberOfIps
      properties:
        route:
          type: string
          description: Route prefix in CIDR notation.
        origin:
          type: string
          description: Originating ASN for this route, in AS<number> format.
        originName:
          type: string
          description: Organization name for the originating ASN.
        isp:
          type: string
          description: ISP or organization name associated with this route.
        numberOfIps:
          type: integer
          description: Total number of IP addresses contained in this route's prefix.
    BulkWhoisLookupItemError:
      type: object
      description: Per-item error, returned in place of a WHOIS result when an individual domain's extension is unsupported or its lookup otherwise fails.
      required:
      - status
      - domain_name
      - status_code
      - message
      properties:
        status:
          type: boolean
          enum:
          - false
          description: Always false for a per-item error.
        domain_name:
          type: string
          description: Domain name that this error applies to.
        status_code:
          type: integer
          description: HTTP-equivalent status code for this item's failure (e.g. 403 for an unsupported extension).
        error:
          type: string
          description: Short error category or exception type.
        message:
          type: string
          description: Human-readable reason this domain could not be resolved.
    ReverseWhoisDomainMini:
      type: object
      description: Condensed WHOIS record for a matching domain in mini mode, containing only key registration fields.
      required:
      - num
      - domain_name
      properties:
        num:
          type: integer
          description: Sequential result number.
        domain_name:
          type: string
          description: The matched domain name.
        create_date:
          type:
          - string
          - 'null'
          format: date
          description: Date when the domain was initially registered (YYYY-MM-DD).
        update_date:
          type:
          - string
          - 'null'
          format: date
          description: Date of the most recent update to the domain registration (YYYY-MM-DD).
        expiry_date:
          type:
          - string
          - 'null'
          format: date
          description: Date when the domain registration expires if not renewed (YYYY-MM-DD).
        name:
          type:
          - string
          - 'null'
          description: Registrant or owner name.
        email:
          type:
          - string
          - 'null'
          description: Registrant email address.
        company_name:
          type:
          - string
          - 'null'
          description: Registrant company or organization name.
    BulkWhoisLookupRequest:
      type: object
      description: Request body for bulk domain WHOIS lookup.
      required:
      - domainNames
      properties:
        domainNames:
          type: array
          description: List of domain names to retrieve WHOIS data for.
          maxItems: 100
          items:
            type: string
    WhoisContact_2:
      type: object
      description: Contact information for a domain stakeholder (registrant, administrative, technical, billing, or reseller). All fields are optional and depend on the contact type and privacy settings.
      required: []
      properties:
        id:
          type:
          - string
          - 'null'
          description: Contact identifier.
        name:
          type:
          - string
          - 'null'
          description: Name of the contact person.
        company:
          type:
          - string
          - 'null'
          description: Company or organization name.
        street:
          type:
          - string
          - 'null'
          description: Street address.
        city:
          type:
          - string
          - 'null'
          description: City.
        state:
          type:
          - string
          - 'null'
          description: State or province.
        zip_code:
          type:
          - string
          - 'null'
          description: ZIP or postal code.
        country_name:
          type:
          - string
          - 'null'
          description: Country name.
        country_code:
          type:
          - string
          - 'null'
          description: ISO 3166-1 alpha-2 country code.
        email_address:
          type:
          - string
          - 'null'
          description: Email address of the contact.
        phone:
          type:
          - string
          - 'null'
          description: Phone number of the contact.
        fax:
          type:
          - string
          - 'null'
          description: Fax number of the contact.
        mailing_address:
          type:
          - string
          - 'null'
          description: Full mailing address as a single string.
    IpWhoisOrganization:
      type: object
      description: Organization object containing the registrant's handle, name, address, contact details, and linked admin/tech/abuse contacts.
      required:
      - handle
      - name
      - source
      properties:
        handle:
          type: string
          description: Handle or unique identifier of this organization in WHOIS data.
        name:
          type: string
          description: Name of the organization.
        type:
          type:
          - string
          - 'null'
          description: Type of the organization (e.g., BUSINESS, REGISTRY).
        description:
          type:
          - array
          - 'null'
          description: Description values from the organization object.
          items:
            type: string
        address:
          type:
          - array
          - 'null'
          description: Full address lines of the organization.
          items:
            type: string
        street:
          type:
          - string
          - 'null'
          description: Parsed street address from the address field.
        city:
          type:
          - string
          - 'null'
          description: Parsed city from the address field.
        district:
          type:
          - string
          - 'null'
          description: Parsed district from the address field.
        state:
          type:
          - string
          - 'null'
          description: Parsed state from the address field.
        zip_code:
          type:
          - string
          - 'null'
          description: Parsed ZIP code from the address field.
        country:
          type:
          - array
          - 'null'
          description: ISO 3166-1 alpha-2 country codes for the organization.
          items:
            type: string
        latitude:
          type:
          - number
          - 'null'
          format: float
          description: Latitude parsed from the geoloc field.
        longitude:
          type:
          - number
          - 'null'
          format: float
          description: Longitude parsed from the geoloc field.
        email:
          type:
          - array
          - 'null'
          description: Email addresses for the organization.
          items:
            type: string
        abuse_mailbox:
          type:
          - array
          - 'null'
          description: Abuse mailbox email addresses for the organization.
          items:
            type: string
        phone:
          type:
          - array
          - 'null'
          description: Phone numbers for the organization.
          items:
            type: string
        fax_no:
          type:
          - array
          - 'null'
          description: Fax numbers for the organization.
          items:
            type: string
        admin_contacts:
          type:
          - array
          - 'null'
          description: Handles of admin persons or roles linked to this organization.
          items:
            type: string
        tech_contacts:
          type:
          - array
          - 'null'
          description: Handles of technical persons or roles linked to this organization.
          items:
            type: string
        abuse_contacts:
          type:
          - array
          - 'null'
          description: Handles of abuse persons or roles linked to this organization.
          items:
            type: string
        remarks:
          type:
          - array
          - 'null'
          description: Remarks for this organization object.
          items:
            type: string
        notify:
          type:
          - array
          - 'null'
          description: Notify email addresses for this organization object.
          items:
            type: string
        ref_nfy:
          type:
          - array
          - 'null'
          description: Reference notification email addresses for this organization object.
          items:
            type: string
        mnt_by:
          type:
          - array
          - 'null'
[...]
